# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

# Challenge 1 - Passing a Lambda Expression to a Function

In the next excercise you will create a function that returns a lambda expression. Create a function called `modify_list`. The function takes two arguments, a list and a lambda expression. The function iterates through the list and applies the lambda expression to every element in the list.

In [24]:
def modify_list(lst, lmbda):
     return lmbda(list)
    
    #"""
    #Input: list and lambda expression
    #
    #Output: the transformed list
    #"""

In [3]:
 #Tu metes una lista con un input y te tiene que dar con lambda la lista ordenada
    #your code here:
lst=
lmbda = x+1

#hacer un bucle para que suma la funcion, con list comprehesion, 


#.append

def modify_list(lst, lmbda):    
    return lmbda(list)

SyntaxError: invalid syntax (<ipython-input-3-4c6911192535>, line 3)

In [ ]:
lista = "Mete una lista" list)

#### Now we will define a lambda expression that will transform the elements of the list. 

In the cell below, create a lambda expression that converts Celsius to Kelvin. Recall that 0°C + 273.15 = 273.15K

In [11]:
# Your code here:

c = input("Temperatura")

#lambda k = c + 273.15 

def Cel_to_K(K):

    return + 273.15


print(c)

print(c, "Celsius", Cel_to_K, "Kelvin")

### Asi no, no funciona, abajo está bien

Temperatura2
2
2 Celsius <function Cel_to_K at 0x105336ea0> Kelvin

In [13]:

Cel_to_K=lambda c: c + 273.15

Cel_to_K(25)

298.15

In [59]:

Cel_to_K=lambda c: c + 273.15

Cel_to_K(0)

273.15

Finally, convert the list of temperatures below from Celsius to Kelvin.

In [60]:
temps = [12, 23, 38, -55, 24]
# Your code here:

#no funciona la funcion def modify_list(list,lamba):

In [61]:
temps = [12, 23, 38, -55, 24]

Cel_to_K = [(lambda c:(c + 273.15))(c) for c in temps]

print("Temperatura en Kelvin:", Cel_to_K)


zip(temps, Cel_to_K) ##No me funciona zip

Temperatura en Kelvin: [285.15, 296.15, 311.15, 218.14999999999998, 297.15]

In [63]:
Cel_to_K=lambda c: c + 273.15

Cel_to_K(0)

temps = [12, 23, 38, -55, 24]

C_K = [Cel_to_K(c)for c in temps]

print(C_K)
print(temps,C_K)

[285.15, 296.15, 311.15, 218.14999999999998, 297.15]
[12, 23, 38, -55, 24] [285.15, 296.15, 311.15, 218.14999999999998, 297.15]

#### In this part, we will define a function that returns a lambda expression

In the cell below, write a lambda expression that takes two numbers and returns 1 if one is divisible by the other and zero otherwise. Call the lambda expression `mod`.

In [68]:
# Your code here:
#(two numbers and returns 1 if one is divisible by the other and zero otherwise.)

square = lambda x: x*x

square(2)


div = lambda a,b : a/b
div(4,2)

#lectura: hago una funcion tal que me devuelva 1 sin el resto de la division entre los dos numeros =0

mod= lambda a,b : 1 if a%b ==0 else 0
mod(3,2)

0

#### Now create a function that returns mod. The function only takes one argument - the first number in the `mod` lambda function. 

Note: the lambda function above took two arguments, the lambda function in the return statement only takes one argument but also uses the argument passed to the function.

In [75]:
#Generar una funcion que llame a otra funcion para que 
#meter lambda dentro de la otra funcion para que la llame

def divisor(b):
    #"""
    #input: a number
    #output: a function that returns 1 if the number is divisible by another number (to be passed later) and zero otherwise
    #"""
    
    # Your code here:
    return lambda a: mod(a,b)

Finally, pass the number 5 to `divisor`. Now the function will check whether a number is divisble by 5. Assign this function to `divisible5`

In [76]:
# Your code here:
divisible5 = divisor(5)

Test your function with the following test cases:

In [77]:
divisible5(10)

1

In [78]:
divisible5(8)

0

In [79]:
divisible5(20)

1

# Challenge 2 - Using Lambda Expressions in List Comprehensions

In the following challenge, we will combine two lists using a lambda expression in a list comprehension. 

To do this, we will need to introduce the `zip` function. The `zip` function returns an iterator of tuples.

In [80]:
# Here is an example of passing one list to the zip function. 
# Since the zip function returns an iterator, we need to evaluate the iterator by using a list comprehension.

l = [1,2,3,4,5]
[x for x in zip(l)]

[(1,), (2,), (3,), (4,), (5,)]

Using the `zip` function, let's iterate through two lists and add the elements by position. Here is an example using a list comprehension.

In [89]:
list1 = ['Green', 'cheese', 'English', 'tomato']
list2 = ['eggs', 'cheese', 'cucumber', 'tomato']

#Your code here:
[lista for lista in zip(list1,list2 )]

# Al pedir una lista hay que hacerlo con x for x in zip(a,b), si fueran unas tuplas valdrían zip(a,b)

[('Green', 'eggs'),
 ('cheese', 'cheese'),
 ('English', 'cucumber'),
 ('tomato', 'tomato')]

# Challenge 3 - Using Lambda Expressions as Arguments

#### In this challenge, we will zip together two lists and sort by the resulting tuple.

In the cell below, take the two lists provided, zip them together and sort by the first letter of the second element of each tuple. Do this using a lambda function.

In [115]:
list1 = ['Engineering', 'Computer Science', 'Political Science', 'Mathematics']
list2 = ['Lab', 'Homework', 'Essay', 'Module']

# Your code here:
comb_lista = [c_l for c_l in zip(list1,list2 )]
print (comb_lista)
print()
print(sorted(comb_lista))

[('Engineering', 'Lab'), ('Computer Science', 'Homework'), ('Political Science', 'Essay'), ('Mathematics', 'Module')]

[('Computer Science', 'Homework'), ('Engineering', 'Lab'), ('Mathematics', 'Module'), ('Political Science', 'Essay')]

In [117]:
#sort by the first letter of the second element of each tuple. (no estoy muy segura si el orden está bien, copiado del ejercicio de clase)
print (comb_lista)
print("sort by the first letter of the second element of each tuple")
print(sorted(comb_lista, key=lambda comb_lista: comb_lista[0][1]))

[('Engineering', 'Lab'), ('Computer Science', 'Homework'), ('Political Science', 'Essay'), ('Mathematics', 'Module')]
sort by the first letter of the second element of each tuple
[('Mathematics', 'Module'), ('Engineering', 'Lab'), ('Computer Science', 'Homework'), ('Political Science', 'Essay')]

# Bonus Challenge - Sort a Dictionary by Values

Given the dictionary below, sort it by values rather than by keys. Use a lambda function to specify the values as a sorting key.

In [124]:
d = {'Honda': 1997, 'Toyota': 1995, 'Audi': 2001, 'BMW': 2005}
d
# Your code here:

{'Honda': 1997, 'Toyota': 1995, 'Audi': 2001, 'BMW': 2005}

In [137]:
sorted(d.items(), key=lambda item: item[1])

[('Toyota', 1995), ('Honda', 1997), ('Audi', 2001), ('BMW', 2005)]