In [1]:
import pandas as pd

from Scraping import get_all_comments_from_subreddit

In [2]:
subreddit_url = "/r/askreddit" #https://reddit.com/r/askreddit
comments = get_all_comments_from_subreddit(subreddit_url)

Getting posts from /r/askreddit...
Getting comments from https://reddit.com/r/AskReddit/comments/c0qaj7/have_you_ever_quit_a_job_without_another_lined_up/.json...
Getting comments from https://reddit.com/r/AskReddit/comments/c0ocp5/it_people_of_reddit_what_is_your_goto_generic/.json...
Getting comments from https://reddit.com/r/AskReddit/comments/c0matc/which_two_and_two_did_you_just_recently_put/.json...
Getting comments from https://reddit.com/r/AskReddit/comments/c0kwdw/teachers_of_reddit_what_is_the_weirdest_excuse/.json...
Getting comments from https://reddit.com/r/AskReddit/comments/c0kyo0/americans_whove_visited_european_countries_what/.json...
Getting comments from https://reddit.com/r/AskReddit/comments/c0liuk/liberals_of_reddit_what_is_your_most_conservative/.json...
Getting comments from https://reddit.com/r/AskReddit/comments/c0n5pd/its_a_post_apocalyptic_world_however_reddit_is/.json...
Getting comments from https://reddit.com/r/AskReddit/comments/c0ovb8/serious_doctor_of_reddit_what_was_the_saddest/.json...
Getting comments from https://reddit.com/r/AskReddit/comments/c0ijuy/teachers_of_reddit_what_are_some_of_the_weirdest/.json...
Getting comments from https://reddit.com/r/AskReddit/comments/c0oyfb/an_alien_is_trying_to_impersonate_you_and_looks/.json...
Getting comments from https://reddit.com/r/AskReddit/comments/c0pt9o/serious_whats_something_harmless_your_parents_did/.json...
Getting comments from https://reddit.com/r/AskReddit/comments/c0ia83/which_movie_villain_would_be_considered_a_hero_in/.json...
Getting comments from https://reddit.com/r/AskReddit/comments/c0iqzu/what_happened_at_your_school_that_shocks_you_to/.json...
Getting comments from https://reddit.com/r/AskReddit/comments/c0i0o1/what_illegal_thing_would_you_do_as_soon_as_its/.json...
Getting comments from https://reddit.com/r/AskReddit/comments/c0rjaa/what_is_the_worst_feeling_that_isnt_pain/.json...
Getting comments from https://reddit.com/r/AskReddit/comments/c0gzqf/if_you_won_10_million_what_are_literally_the/.json...
Getting comments from https://reddit.com/r/AskReddit/comments/c0lv2m/if_you_had_a_warning_label_what_would_it_say/.json...
Getting comments from https://reddit.com/r/AskReddit/comments/c0ni9t/gamers_of_reddit_you_are_placed_into_an_arcade/.json...
Getting comments from https://reddit.com/r/AskReddit/comments/c0ijdo/if_humans_were_kept_as_pets_by_another_species/.json...
Getting comments from https://reddit.com/r/AskReddit/comments/c0kml2/redditors_what_made_you_go_thank_god_i_broke_up/.json...
Getting comments from https://reddit.com/r/AskReddit/comments/c0sifa/substitute_teachers_of_reddit_whats_the_hardest/.json...
Getting comments from https://reddit.com/r/AskReddit/comments/c0tyde/high_rise_window_cleaners_what_have_you/.json...
Getting comments from https://reddit.com/r/AskReddit/comments/c0u9up/redditors_who_are_you_and_what_do_you_do/.json...
Getting comments from https://reddit.com/r/AskReddit/comments/c0pshh/women_of_reddit_what_is_the_biggest_mistake_guys/.json...
Getting comments from https://reddit.com/r/AskReddit/comments/c0k8p6/what_do_you_get_complimented_for_the_most/.json...

# Pre-pre procesado

In [59]:
df = pd.DataFrame(comments)
df.head()

                                             content  score
0  Worked a call center job after one week of tra...   3350
1  Yep.\n\nMy mental health is still not good, an...   5779
2  Quit my job at a call centre without anything ...   9938
3  Left my job of 15 years with nothing lined up ...   5582
4  Hell yes.  I worked in a retail store that was...  14335

In [60]:
df.sort_values(by=['score'], inplace=True, ascending=False)
df.head()

                                               content  score
96   Valve released Steam. \n\nTook me entirely too...  34514
475  A sugar glider. Kept hearing a high pitched sq...  27213
77   In Spanish, hats are called "sombrero" because...  26416
998                           Fyre Festival VIP suites  24608
78   I race cars in an amateur league. There is a b...  22677

In [61]:
df['content'][100]

"My babysitter became basically family. She was an old woman and took care of us for like 20 years, before I was even born she cared for my siblings. One morning she didn't show up to work. Didn't call. Nothing.\n\nSame thing the next morning. My mom went to her house and found she had passed away. She came home and told us kids. We asked a few questions. How did you find her? Well she died in her car. Oh. Okay... She must have just died of old age, she was like 74 after all.\n\nYears later I figured it out. Like 13 years. I was telling a friend about who she was and what she meant to our family. Then it hit me.. like a ton of bricks.\n\nPeople don't just die randomly one morning sitting in their car at their house. Their bodies don't just shut down. She commit suicide at the age of 70-something by carbon monoxide poisoning. She turned the car on in a closed garage and ended her life. My parents didn't want to tell me or my siblings because they didn't want it to impact how we thought of her and what she meant to us as a family. She suffered from severe depression all her life and as a kid I had no idea. It is truly heartbreaking because we loved her like a grandma. I wish she were still around.\n\nWe are still friends with her sister who is in her mid-90s, so our baby sitter could still be here too. If you're suffering, talk to someone, because there are people who will want you around tomorrow and 20 years from now."

In [62]:
df.shape[0]

1610

In [63]:
chachipistachi = []
for i in range(df.shape[0]):
    if 'http' in df['content'][i]:
        chachipistachi.append(df['content'][i])
        print(str(i) + ' : chachipistachi    ' + df['content'][i])
    elif 'www' in df['content'][i]:
        chachipistachi.append(df['content'][i])
        print(str(i) + ' : chachipistachi    ' + df['content'][i])

180 : chachipistachi    When I was in 3rd grade I was late to school because my dog had puppies inside a hollow log in the woods beside my house, and I was the only one small enough to crawl inside and get the puppies out.

Obligatory Puppy Photo, circa 1993 (explaining my horrible outfit, but not necessarily justifying it:)

[https://imgur.com/Cdch5iS](https://imgur.com/Cdch5iS)
438 : chachipistachi    Pediatrician. Do not read if you don’t like hearing about kids dying — I have 2 I will never forget

1: 5 year old with [congenital lupus](https://www.ncbi.nlm.nih.gov/m/pubmed/15035648/) who had never received care due to family’s religious beliefs. Went down (likely heart stopped) in neighbor’s backyard — brought in by ambulance (neighbor didn’t realize parent’s religious convictions). I was working my ICU month. Kid was in full blown kidney failure. Only option we had, aside from continuous dialysis, was transplant. Parents refused. Said God would heal the child. Refused to let us do anything. Kid coded and family refused intervention, so we had to watch the kid die — we were unable to get a court order to intervene prior to the kid coding.

2: I was working hospital and we had a recurring patient, a teenager, who had progressively worsening symptoms. Started with the eyes — blurry vision. Then difficulty swallowing — [achalasia](https://my.clevelandclinic.org/health/diseases/17534-achalasia-overview-swallowing-problems). Respiratory issues. Bowel obstruction that lead to complete death of the colon. And so on. Could not figure out why this was happening, despite extensive testing. Patient finally came in one day, about a year after initial presentation, after being found face-down in the family pool — heart had stopped (no water in the lungs). Withdrew care after 48 hrs and confirmed brain death. Autopsy came back 3+ years later with abnormally high arsenic levels. Kid had been poisoned. The death was awful but finding out we somehow missed the poisoning despite testing for it was heartbreaking for all of us
482 : chachipistachi    It wasn't exactly a confiscation. Some of my students thought it would be a good idea to bring me two chickens. Two live chickens. They knew my daughter had a pet duck that had recently died, so this was their idea to help us get past the grief. I had to keep them in a carrier in my classroom closet in the dark just so they would be quiet. (The chickens, not the kids).  By the end of the day I found a kid with a grandmother that had a farm. She took the chickens home.
Edit: Here's her duck in better days. https://i.imgur.com/5ZYs6Wl.jpg
511 : chachipistachi    In grade school I had two really close friends named Juan and Nick. [Here is a picture of us](https://i.imgur.com/Kv9IWWf.jpg) that I love with me in the front, then Juan, and then Nick. The three of us were really close and bonded of our shared nerdy interests of reading, Star Wars, and The Simpsons. We also really enjoyed drawing.

I don't remember how it started exactly, but we ended up making this notebook that we passed back and forth between us. It was a comic about a guy named Tom and his cat. We would each take turns doing a strip of a few panels and then hand it over. [Here is a quick drawing I did of Tom on my phone](https://i.imgur.com/atgHmod.png) so you can get an idea of what he looked like. The comic was about the everyday life of Tom and it was extremely mundane. It was things like Tom tries to decide on a shirt or Tom dropped the cat food on the floor. It was really dumb stuff, but the three of us found it so hilarious because we were weird kids.

One day our teacher caught us with the notebook and confiscated it from us. She never said a word about it, but I bet when she looked through that thing she probably thought it was the weirdest fucking thing ever, especially since we were laughing hysterically at it when she took it from us.
672 : chachipistachi    Any time I would cry or express anger, I would be teased for being upset.
 "Awwwww she's mad!!!! Awwwww waaaahhhwahhhhhwahhhh aww booo hoooooo"
I ended up shutting down and finding unhealthy ways to cope that eventually plagued my life in more ways than one.
766 : chachipistachi    [Johnny from The Karate Kid](https://youtu.be/C_Gz_iTuRMM)
785 : chachipistachi    A boy slipped on some ice and got run over by a school bus when I was in 2nd grade in front of the whole school. Miraculously, he survived and is doing well to this day.

Edit: Here’s a news story from the time about it. https://www.google.com/url?sa=i&amp;source=web&amp;cd=&amp;ved=2ahUKEwi-q7Gr3OniAhWMwFkKHTq6AzEQzPwBegQIARAC&amp;url=https%3A%2F%2Fwww.deseretnews.com%2Farticle%2F881332%2FA-miracle-Boy-is-recovering-from-bus-run-in.html&amp;psig=AOvVaw0nrEz0u4xo-HO8wGJrYW7A&amp;ust=1560627424520302
810 : chachipistachi    There was somebody living across the street from my high school who was a bomb maker that was plotting to blow one his bombs up at a 4th of July celebration in the next year or two .

I have no idea why the fuck he was acquitted.

I just remember seeing a shit ton of cop cars and FBI vehicles.

https://www.google.com/amp/s/amp.usatoday.com/amp/31570845
811 : chachipistachi    A guy in our ethnic studies class went to the middle east to become a terrorist and got intercepted by the FBI.

He was in my high school. Didn't know where he went to college.

[Source](https://www.nytimes.com/2016/04/10/us/parents-face-limited-options-to-keep-children-from-terrorism.html)

“I just hope Allah doesn’t take my soul until I have at least, like, a couple gallons of blood that I’ve spilled for him"

Like what the fuck
860 : chachipistachi    I would flip off a horse while it's passing me, which is currently illegal.

https://www.law.cornell.edu/cfr/text/36/2.16
997 : chachipistachi    Isn't there a certain nearly-defeated group of international terrorists who'd like their little caliphate back? Aren't they a bit strapped for cash right now?

Yeah. That'd be literally the worst way.

&amp;#x200B;

^(Edit: Well that blew up. So if anyone's wondering, in the real world, they're) [^(not really strapped for cash at all)](https://www.theatlantic.com/international/archive/2019/03/isis-caliphate-money-territory/584911/)^(, and it's going to take years to actually defeat them.)
1037 : chachipistachi    [https://www.thesun.co.uk/news/8402541/how-national-lottery-lout-michael-carroll-blew-9-7m-pounds/](https://www.thesun.co.uk/news/8402541/how-national-lottery-lout-michael-carroll-blew-9-7m-pounds/)

&amp;#x200B;

this actually happend in the UK (although it may be arguble he had a "good time")

&amp;#x200B;

was poor &gt; won 10m &gt; he's now broke i believe
1308 : chachipistachi    When his mom came over to my house drunk off her ass demanding back a stuffed animal he gave me.  She threatened to have me arrested for theft.

Restraining orders are friggen magical, guys.

EDIT: sentence structure.

EDIT 2: [Link to the full story](https://www.reddit.com/r/entitledparents/comments/aqufup/of_oedipal_mothers_and_giant_teddy_bears/)
1396 : chachipistachi    Imagine getting [this](https://memestatic.fjcdn.com/pictures/Pretty+sure+ive+yelled+your+name+while+vomiting_4215fc_6937685.jpg) kid as a new teacher.
1418 : chachipistachi    here's a few things you might expect to [see]  (https://youtu.be/sfmAeijj5cM).
1593 : chachipistachi    [Karmas](https://www.karmalb.com/user/Iam4real)

In [64]:
print(len(chachipistachi))

16

In [65]:
df['content'] = df['content'].str.replace('\w+:\/{2}[\d\w-]+(\.[\d\w-]+)*(?:(?:\/[^\s/]*))*', '')
df.head()

                                               content  score
96   Valve released Steam. \n\nTook me entirely too...  34514
475  A sugar glider. Kept hearing a high pitched sq...  27213
77   In Spanish, hats are called "sombrero" because...  26416
998                           Fyre Festival VIP suites  24608
78   I race cars in an amateur league. There is a b...  22677

In [66]:
df['content'] = df['content'].str.replace(r'[^\w\s]','')
df.head()

                                               content  score
96   Valve released Steam \n\nTook me entirely too ...  34514
475  A sugar glider Kept hearing a high pitched squ...  27213
77   In Spanish hats are called sombrero because th...  26416
998                           Fyre Festival VIP suites  24608
78   I race cars in an amateur league There is a bl...  22677

In [67]:
# Verificamos si hemos eliminado los comentarios que contienen 'url'

chachipistachi = []
for i in range(df.shape[0]):
    if 'http' in df['content'][i]:
        chachipistachi.append(df['content'][i])
        print(str(i) + ' : chachipistachi    ' + df['content'][i])
    elif 'www' in df['content'][i]:
        chachipistachi.append(df['content'][i])
        print(str(i) + ' : chachipistachi    ' + df['content'][i])

672 : chachipistachi    Any time I would cry or express anger I would be teased for being upset
 Awwwww shes mad Awwwww waaaahhhwahhhhhwahhhh aww booo hoooooo
I ended up shutting down and finding unhealthy ways to cope that eventually plagued my life in more ways than one

In [68]:
print(len(chachipistachi))

1

In [69]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /Users/isi/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [70]:
## Tokenize comment (turn phrase into list of words)

df['content'] = df['content'].apply(lambda comment: nltk.word_tokenize(comment))
df.head()

                                               content  score
96   [Valve, released, Steam, Took, me, entirely, t...  34514
475  [A, sugar, glider, Kept, hearing, a, high, pit...  27213
77   [In, Spanish, hats, are, called, sombrero, bec...  26416
998                      [Fyre, Festival, VIP, suites]  24608
78   [I, race, cars, in, an, amateur, league, There...  22677

In [71]:
## Nº words in comment

df['word_count'] = df['content'].apply(len)
df.head()

                                               content  score  word_count
96   [Valve, released, Steam, Took, me, entirely, t...  34514          12
475  [A, sugar, glider, Kept, hearing, a, high, pit...  27213          29
77   [In, Spanish, hats, are, called, sombrero, bec...  26416          11
998                      [Fyre, Festival, VIP, suites]  24608           4
78   [I, race, cars, in, an, amateur, league, There...  22677          39

In [72]:
## Nº chars in comment

df['char_len'] = df['content'].apply(lambda comment: sum(len(word) for word in comment))
df.head()

,content,score,word_count,char_len
96,"[Valve, released, Steam, Took, me, entirely, t...",34514,12,54
475,"[A, sugar, glider, Kept, hearing, a, high, pit...",27213,29,119
77,"[In, Spanish, hats, are, called, sombrero, bec...",26416,11,56
998,"[Fyre, Festival, VIP, suites]",24608,4,21
78,"[I, race, cars, in, an, amateur, league, There...",22677,39,159

In [44]:
## Character/word average

def avg_word(comment):
    return (sum(len(word) for word in comment)/len(comment))
df['avg_word'] = df['content'].apply(avg_word)
df.head()

,content,score,word_count,char_len,avg_word
96,"[Valve, released, Steam, ., Took, me, entirely...",34514,14,56,4.000000
475,"[A, sugar, glider, ., Kept, hearing, a, high, ...",27213,32,122,3.812500
77,"[In, Spanish, ,, hats, are, called, ``, sombre...",26416,18,67,3.722222
998,"[Fyre, Festival, VIP, suites]",24608,4,21,5.250000
78,"[I, race, cars, in, an, amateur, league, ., Th...",22677,45,169,3.755556

In [45]:
## Nº english stopwords

from nltk.corpus import stopwords
stop = stopwords.words('english')
df['stopwords'] = df['content'].apply(lambda comment: len([word for word in comment if word in stop]))
df.head()

,content,score,word_count,char_len,avg_word,stopwords
96,"[Valve, released, Steam, ., Took, me, entirely...",34514,14,56,4.000000,4
475,"[A, sugar, glider, ., Kept, hearing, a, high, ...",27213,32,122,3.812500,12
77,"[In, Spanish, ,, hats, are, called, ``, sombre...",26416,18,67,3.722222,3
998,"[Fyre, Festival, VIP, suites]",24608,4,21,5.250000,0
78,"[I, race, cars, in, an, amateur, league, ., Th...",22677,45,169,3.755556,17

In [46]:
## Nº of upper words

df['upper_words'] = df['content'].apply(lambda comment: len([word for word in comment if word.isupper()]))
df.head()

,content,score,word_count,char_len,avg_word,stopwords,upper_words
96,"[Valve, released, Steam, ., Took, me, entirely...",34514,14,56,4.000000,4,0
475,"[A, sugar, glider, ., Kept, hearing, a, high, ...",27213,32,122,3.812500,12,1
77,"[In, Spanish, ,, hats, are, called, ``, sombre...",26416,18,67,3.722222,3,0
998,"[Fyre, Festival, VIP, suites]",24608,4,21,5.250000,0,1
78,"[I, race, cars, in, an, amateur, league, ., Th...",22677,45,169,3.755556,17,3

In [ ]:
freq = pd.Series(' '.join(" ".join(comment) for commet in df['content']).split(" "))