# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [2]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [3]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [4]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [5]:
data_grouped=data.groupby(by=['CustomerID','ProductName']).sum()['Quantity']
data_grouped.reset_index()
data_grouped=data_grouped.reset_index()

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [15]:
product_customer=pd.pivot_table(data=data_grouped,index='CustomerID',columns='ProductName',values='Quantity').fillna(0)
product_customer.head()

ProductName,Anchovy Paste - 56 G Tube,"Appetizer - Mini Egg Roll, Shrimp",Appetizer - Mushroom Tart,Appetizer - Sausage Rolls,Apricots - Dried,Apricots - Halves,Apricots Fresh,Arizona - Green Tea,Artichokes - Jerusalem,Assorted Desserts,...,"Wine - White, Colubia Cresh","Wine - White, Mosel Gold","Wine - White, Schroder And Schyl",Wine - Wyndham Estate Bin 777,Wonton Wrappers,Yeast Dry - Fermipan,Yoghurt Tubes,"Yogurt - Blueberry, 175 Gr",Yogurt - French Vanilla,Zucchini - Yellow
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
264,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
356,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
412,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [22]:
from scipy.spatial.distance import pdist, squareform
distances=pd.DataFrame(squareform(pdist(product_customer, 'euclidean')))
distances.columns=product_customer.index
distances.index=product_customer.index
distances.head()

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,0.000000,11.916375,10.488088,11.224972,11.401754,11.090537,12.409674,11.045361,11.269428,11.489125,...,206.871941,213.180675,225.656819,198.232187,230.913404,220.501701,217.188858,228.628520,239.000000,229.773802
200,11.916375,0.000000,11.747340,12.083046,12.569805,12.288206,12.165525,12.083046,11.874342,12.000000,...,206.310446,212.635839,224.697575,197.139544,230.952376,220.202180,215.728997,228.010965,239.037654,229.704158
264,10.488088,11.747340,0.000000,11.489125,11.224972,11.445523,12.000000,11.401754,11.180340,11.747340,...,206.387984,212.946003,225.435135,197.600607,230.371439,219.136943,216.612557,228.081126,238.266657,229.773802
356,11.224972,12.083046,11.489125,0.000000,12.083046,11.789826,12.328828,11.135529,11.958261,12.165525,...,206.649462,213.082144,225.452878,197.494304,231.038958,219.952268,217.437347,228.098663,238.493186,229.464594
412,11.401754,12.569805,11.224972,12.083046,0.000000,11.704700,12.328828,11.135529,11.789826,11.747340,...,206.900942,211.679002,225.572605,197.630969,230.614397,219.733930,217.446545,227.997807,238.396728,228.927936

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [128]:
def get_similar_customers(customer_id,distances_matrix):
    customer_similar=distances_matrix[customer_id].sort_values(ascending=True)[1:6]
    customer_similar=customer_similar.reset_index()
    return customer_similar

customer_200_similar=get_similar_customers(200,distances)
customer_200_similar
#customer_200_similar=distances[200].sort_values(ascending=True)[1:6]
#customer_200_similar=customer_200_similar.reset_index()

   CustomerID        200
0        3317  10.770330
1        1072  10.908712
2        3535  11.135529
3        1920  11.180340
4        3909  11.357817

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [131]:
def get_similar_purchases(purchases_customer_grouped,similar_users):
    customer_similar_purchases=data_grouped[purchases_customer_grouped['CustomerID'].isin(similar_users['CustomerID']) ]
    return customer_similar_purchases

customer_200_similar_purchases=get_similar_purchases(data_grouped,customer_200_similar)
customer_200_similar_purchases.head()

#customer_200_similar_purchases=data_grouped[data_grouped['CustomerID'].isin(customer_200_similar['CustomerID']) ]

      CustomerID                        ProductName  Quantity
1082        1072  Appetizer - Mini Egg Roll, Shrimp         1
1083        1072          Appetizer - Sausage Rolls         1
1084        1072             Beans - Kidney, Canned         1
1085        1072     Beef - Montreal Smoked Brisket         1
1086        1072                Beef - Striploin Aa         1

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [79]:
customer_200_similar_purchases_grouped=customer_200_similar_purchases.groupby(by='ProductName').sum().sort_values(by='Quantity',ascending=False)['Quantity']
customer_200_similar_purchases_grouped

ProductName
Soup - Campbells Bean Medley        4
Muffin - Carrot Individual Wrap     3
Bay Leaf                            3
Pork - Kidney                       3
Pepper - Black, Whole               3
Lamb - Ground                       3
Wanton Wrap                         3
Coffee - Irish Cream                2
Tart Shells - Sweet, 4              2
Tahini Paste                        2
Chips Potato Salt Vinegar 43g       2
Table Cloth 54x72 White             2
Chinese Foods - Chicken             2
Lime Cordial - Roses                2
Crush - Cream Soda                  2
Quiche Assorted                     2
Soupfoamcont12oz 112con             2
Lamb - Pieces, Diced                2
Cheese Cloth No 100                 2
Dried Figs                          2
Eggplant - Asian                    2
Soup - Campbells, Beef Barley       2
Ezy Change Mophandle                2
Soup - Campbells Tomato Ravioli     2
Fish - Scallops, Cold Smoked        2
Foam Dinner Plate                   2
Fondant - Icing                     2
Garbage Bags - Clear                2
Sole - Dover, Whole, Fresh          2
Sausage - Liver                     2
                                   ..
Ocean Spray - Kiwi Strawberry       1
Ocean Spray - Ruby Red              1
Oil - Safflower                     1
Oil - Shortening - All - Purpose    1
Olives - Kalamata                   1
Olives - Stuffed                    1
Onions - Cippolini                  1
Longos - Grilled Salmon With Bbq    1
Lettuce - Spring Mix                1
Ecolab - Mikroklene 4/4 L           1
Ice Cream Bar - Drumstick           1
Ecolab - Solid Fusion               1
Fenngreek Seed                      1
French Pastry - Mini Chocolate      1
Garlic - Elephant                   1
Garlic - Primerba, Paste            1
General Purpose Trigger             1
Gloves - Goldtouch Disposable       1
Guinea Fowl                         1
Isomalt                             1
Lettuce - Frisee                    1
Jagermeister                        1
Juice - Apple Cider                 1
Kellogs Special K Cereal            1
Ketchup - Tomato                    1
Kiwi                                1
Knife Plastic - White               1
Lambcasing                          1
Lentils - Red, Dry                  1
Yoghurt Tubes                       1
Name: Quantity, Length: 207, dtype: int64

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [124]:
#customer_200=data_grouped[]
customer_200=data_grouped[data_grouped['CustomerID']==200]
customer_200_products_purchased=customer_200['ProductName'].unique()
recomended_products=[]
for product in customer_200_similar_purchases_grouped.index:
    if product  not in customer_200_products_purchased:
        recomended_products.append(product)
recomended_products_200=customer_200_similar_purchases_grouped[customer_200_similar_purchases_grouped.index.isin(recomended_products)]
recomended_products_200[:5]

ProductName
Soup - Campbells Bean Medley       4
Muffin - Carrot Individual Wrap    3
Bay Leaf                           3
Pork - Kidney                      3
Wanton Wrap                        3
Name: Quantity, dtype: object

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.