# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [144]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform
from pprint import pprint

In [2]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [63]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [4]:
quantity = data.groupby(by = ['CustomerID', 'ProductName']).agg({'Quantity': sum})
quantity.reset_index(inplace = True)
quantity.head()

   CustomerID                    ProductName  Quantity
0          33               Apricots - Dried         1
1          33              Assorted Desserts         1
2          33        Bandage - Flexible Neon         1
3          33  Bar Mix - Pina Colada, 355 Ml         1
4          33         Beans - Kidney, Canned         1

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [5]:
pivot_table = pd.pivot_table(data, values = 'Quantity', index = 'ProductName', columns = 'CustomerID')
pivot_table = pivot_table.fillna(0)
pivot_table.head()

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Appetizer - Mini Egg Roll, Shrimp",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Appetizer - Mushroom Tart,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0
Appetizer - Sausage Rolls,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,25.0,25.0,25.0,0.0,25.0,0.0
Apricots - Dried,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [6]:
pivot_table = pivot_table.transpose()
customer_similarity_matrix = pd.DataFrame(squareform(pdist(pivot_table, 'euclidean')), columns = pivot_table.index,
                                          index = pivot_table.index)

customer_similarity_matrix.head()

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,0.000000,10.723805,9.643651,9.899495,10.440307,10.148892,10.723805,10.246951,10.344080,10.148892,...,206.963765,194.766527,199.145675,183.463893,202.259734,198.075743,203.921554,197.949489,218.824130,203.798921
200,10.723805,0.000000,10.677078,10.723805,11.489125,11.045361,10.770330,10.954451,10.677078,10.488088,...,206.269242,194.285872,198.423789,182.543146,202.044550,197.729613,202.723950,197.349943,218.625250,203.953426
264,9.643651,10.677078,0.000000,10.344080,10.198039,10.488088,10.677078,10.583005,10.488088,10.488088,...,206.366179,194.517351,199.153207,182.789496,201.772149,196.817174,203.315026,197.324606,218.029814,203.806281
356,9.899495,10.723805,10.344080,0.000000,10.630146,10.535654,10.630146,9.949874,10.630146,10.440307,...,206.726873,194.643263,199.025124,182.923481,202.264678,197.575302,204.293906,197.322072,218.142155,203.681123
412,10.440307,11.489125,10.198039,10.630146,0.000000,10.677078,10.677078,10.198039,10.770330,10.392305,...,206.985507,193.889144,199.168271,182.805908,202.034650,197.339808,204.066166,197.466453,217.928887,202.960587

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [80]:
lista = list(customer_similarity_matrix[33].sort_values(ascending=False).index)[:5]
print('El customerID 33 es muy similar a:', lista)

El customerID 33 es muy similar a: [96560, 91443, 97324, 98185, 91777]

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [77]:
records = quantity[quantity['CustomerID'] == (97324 or 91443 or 97324 or 98185 or 91777)]
records.head()

       CustomerID              ProductName  Quantity
62842       97324            Bagel - Plain        25
62843       97324  Bandage - Flexible Neon        50
62844       97324                 Bay Leaf        25
62845       97324      Beef - Inside Round        25
62846       97324      Beef - Striploin Aa        25

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [78]:
records_agg = quantity[quantity['CustomerID'] == (97324 or 91443 or 97324 or 98185 or 91777)].groupby(
    ['CustomerID', 'ProductName']).agg({'Quantity': sum}).sort_values('Quantity', ascending=False)

records_agg.head()

                                    Quantity
CustomerID ProductName
97324      Shrimp - 31/40                 50
           Bandage - Flexible Neon        50
           Cream Of Tartar                50
           Onion Powder                   50
           Bread - Hot Dog Buns           50

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [134]:
# Productos de clientes similares:
products_similar_customers = records.groupby('ProductName').agg({'Quantity': sum})
products_similar_customers_list = list(products_similar_customers.index.unique())

In [146]:
# Productos del cliente 33:
customer33_products_list = list(quantity['ProductName'][quantity['CustomerID'] == 33].unique())

# Productos que el cliente 33 no ha comprado y que sí han comprado los clientes similares:
products_no_purchased_customer33 = []
for product in products_similar_customers_list:
    if product not in customer33_products_list:
        products_no_purchased_customer33.append(product)           
        
pprint(products_no_purchased_customer33[:10])

['Bagel - Plain',
 'Bay Leaf',
 'Beef - Inside Round',
 'Beef - Striploin Aa',
 'Beef - Top Sirloin',
 'Bread - Hot Dog Buns',
 'Bread - Roll, Soft White Round',
 'Bread - Rye',
 'Bread Crumbs - Panko',
 'Browning Caramel Glace']

In [ ]:
# Los productos recomendados para el cliente 33:

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.