Columns description

    Id (str)
    city
    price
    year: Year of manufacturing
    manufacturer: Manufacturer of vehicle
    make: Model of vehicle
    condition: Vehicle condition
    cylinders: Number of cylinders
    fuel: Type of fuel required
    odometer: Miles traveled
    title_status: Title status (e.g. clean, missing, etc.)
    transmission: Type of transmission
    drive: Drive of vehicle
    size: Size of vehicle
    type: Type of vehicle
    paint_color: Color of vehicle
    lat: Latitude of listing
    long: Longitude of listing
    county_fips: Federal Information Processing Standards code
    county_name: County of listing
    state_fips: Federal Information Processing Standards code
    state_code: letter state code
    state_name: State name
    weather: Historical average

In [195]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [196]:
cars_prices=pd.read_csv("..\data\cars_train.csv")
cars_prices_test=pd.read_csv("..\data\cars_test.csv")

In [197]:
for column in cars_prices.columns:
    if cars_prices[column].dtype=='object':
        print(column)
        print(cars_prices[column].value_counts())

city
lasvegas         2270
sfbay            2259
nashville        2251
miami            2245
boise            2243
indianapolis     2241
cosprings        2238
anchorage        2238
sacramento       2232
orlando          2227
grandrapids      2219
memphis          2218
madison          2207
inlandempire     2203
kansascity       2198
bakersfield      2197
charlotte        2189
columbus         2189
nh               2182
minneapolis      2179
oklahomacity     2177
milwaukee        2176
hartford         2172
tampa            2170
akroncanton      2167
chicago          2163
omaha            2162
losangeles       2159
desmoines        2157
orangecounty     2157
                 ...
reddeer            32
regina             32
londonon           31
cornwall           30
juneau             29
kingston           28
chihuahua          25
peterborough       24
soo                23
hermosillo         21
juarez             21
peace              21
newbrunswick       20
lethbridge         19
brantford          16
niagara            16
belleville         16
hat                14
halifax            14
chatham            13
kitchener          10
guelph             10
troisrivieres       8
barrie              8
pei                 7
sherbrooke          6
sudbury             5
newfoundland        4
owensound           2
territories         1
Name: city, Length: 469, dtype: int64
manufacturer
ford               79933
chevrolet          60093
toyota             31722
honda              24585
nissan             21925
dodge              20779
jeep               20312
gmc                19255
ram                15561
bmw                11840
chevy              11014
volkswagen          9111
hyundai             9087
chrysler            8658
subaru              8099
cadillac            6814
kia                 6799
mercedes-benz       6592
mazda               6380
buick               6264
pontiac             6071
lexus               5523
acura               4923
audi                4076
lincoln             3553
infiniti            3254
volvo               2991
mitsubishi          2945
mercury             2793
saturn              2599
mercedes            1968
mini                1745
rover               1517
vw                  1232
jaguar              1188
fiat                 560
chev                 242
datsun               159
infinity             152
harley-davidson      138
harley                64
ferrari               60
alfa-romeo            44
porche                28
land rover            25
alfa                  19
aston-martin          14
aston                 13
landrover              9
morgan                 4
Name: manufacturer, dtype: int64
make
1500                          6396
f-150                         6040
silverado 1500                4124
mustang                       3680
2500                          3610
accord                        3517
silverado                     3363
civic                         3191
camry                         3102
wrangler                      3049
f150                          2923
altima                        2880
explorer                      2805
impala                        2602
escape                        2580
f250                          2557
tahoe                         2510
tacoma                        2274
focus                         2250
1500 silverado                2249
grand cherokee                2167
camaro                        2155
corvette                      2118
3500                          2096
malibu                        2047
corolla                       1956
ranger                        1940
fusion                        1923
equinox                       1749
f350                          1733
                              ...
new beetle coupe gls             1
GREAT DANE                       1
malubu                           1
Star-Tow Package                 1
Ford,Mustang GT                  1
forester 2.5 x ll bean           1
MAXIMA SE                        1
scottdale k10                    1
passat tsi se                    1
Tandiem                          1
..                               1
1965 2 door coupe                1
f250 super cab xl 4x4            1
outlander sport 4wd              1
grand cherokee 2014 srt          1
a4 quattro 3.2                   1
Konig Yokohama Avid Ascend       1
van c20                          1
mx5 miata gt rf                  1
stratus se 4-door                1
f-350 super duty xlt 4x4 4       1
town & country s                 1
sierra sle 2500hd 4wd            1
sle 3500                         1
touareg vr6 sport w              1
Town and country LX1             1
discovery sprt se*4wd            1
2004 Alero - 4d                  1
c300-4matic                      1
yj wrangler                      1
Name: make, Length: 46592, dtype: int64
condition
excellent    120909
good         103297
like new      30469
fair          20214
new            2437
salvage        1645
Name: condition, dtype: int64
cylinders
6 cylinders     98757
8 cylinders     87552
4 cylinders     80625
other            9751
5 cylinders      2864
10 cylinders     1623
3 cylinders       500
12 cylinders      244
Name: cylinders, dtype: int64
fuel
gas         417897
diesel       33158
other        12466
hybrid        2949
electric       678
Name: fuel, dtype: int64
title_status
clean         436606
rebuilt        13310
salvage         8923
lien            5950
missing         3046
parts only      1449
Name: title_status, dtype: int64
transmission
automatic    402378
manual        55363
other          9804
Name: transmission, dtype: int64
drive
4wd    121087
fwd    101308
rwd     67263
Name: drive, dtype: int64
size
full-size      87687
mid-size       46661
compact        25586
sub-compact     3283
Name: size, dtype: int64
type
sedan          73953
SUV            66612
truck          36510
pickup         33645
coupe          19896
hatchback      10441
convertible     8555
wagon           6953
van             6923
mini-van        6717
other           6196
offroad         1386
bus              565
Name: type, dtype: int64
paint_color
white     62659
black     54608
silver    40497
blue      31686
red       31290
grey      27270
green     11810
brown      7307
custom     7151
yellow     3038
orange     1984
purple     1079
Name: paint_color, dtype: int64
county_name
Franklin         5143
Jefferson        5031
Orange           4850
Washington       4219
Sacramento       4142
Montgomery       4122
Marion           3892
Los Angeles      3511
Jackson          3396
Douglas          3331
El Paso          3234
Riverside        3097
Clark            3065
Monroe           2751
Madison          2741
Maricopa         2626
Lancaster        2588
Middlesex        2541
Polk             2464
Benton           2419
Wayne            2372
Kent             2357
San Diego        2278
Harris           2200
Cumberland       2137
Lake             2131
Erie             2130
Saginaw          2107
Anchorage        2093
Volusia          2090
                 ...
Greer               1
Bottineau           1
Edmunds             1
Rolette             1
Crane               1
Dickens             1
Cavalier            1
Wrangell            1
White Pine          1
Juab                1
Uvalde              1
Maui                1
Cottle              1
Bristol Bay         1
Bullock             1
Sully               1
Coal                1
Schleicher          1
Kinney              1
Emery               1
Sterling            1
Kodiak Island       1
Dundy               1
Lyman               1
Appling             1
East Carroll        1
Mora                1
Zavala              1
Somervell           1
Cochran             1
Name: county_name, Length: 1792, dtype: int64
state_code
CA    42132
FL    30363
TX    26573
MI    21737
NY    19401
NC    17452
OH    16984
PA    15865
WI    14643
WA    13947
VA    12630
OR    12542
TN    11483
CO    10969
MO    10609
MN    10229
IL     9773
GA     9391
IN     8857
NJ     8827
MA     8664
IA     7961
SC     7744
AZ     7644
AL     7625
CT     6536
OK     6366
MD     5970
KY     5870
MT     5446
LA     5408
ID     5401
KS     5207
AR     5162
NE     5109
MS     4421
NV     3930
NM     3584
AK     3336
NH     3091
SD     2415
VT     1879
UT     1870
RI     1811
ME     1732
WV     1575
DE     1534
ND     1309
WY      798
DC      173
HI        5
Name: state_code, dtype: int64
state_name
California              42132
Florida                 30363
Texas                   26573
Michigan                21737
New York                19401
North Carolina          17452
Ohio                    16984
FAILED                  16009
Pennsylvania            15865
Wisconsin               14643
Washington              13947
Virginia                12630
Oregon                  12542
Tennessee               11483
Colorado                10969
Missouri                10609
Minnesota               10229
Illinois                 9773
Georgia                  9391
Indiana                  8857
New Jersey               8827
Massachusetts            8664
Iowa                     7961
South Carolina           7744
Arizona                  7644
Alabama                  7625
Connecticut              6536
Oklahoma                 6366
Maryland                 5970
Kentucky                 5870
Montana                  5446
Louisiana                5408
Idaho                    5401
Kansas                   5207
Arkansas                 5162
Nebraska                 5109
Mississippi              4421
Nevada                   3930
New Mexico               3584
Alaska                   3336
New Hampshire            3091
South Dakota             2415
Vermont                  1879
Utah                     1870
Rhode Island             1811
Maine                    1732
West Virginia            1575
Delaware                 1534
North Dakota             1309
Wyoming                   798
District of Columbia      173
Hawaii                      5
Name: state_name, dtype: int64

In [198]:
def remove_columns(data,treshold):
    for column in data.columns:
        n_rows=len(data[column])
        n_nulls=data[column].isna().sum()
        percentage_nulls=(n_nulls/n_rows)*100
        if percentage_nulls>treshold:
            data.drop(labels=column,axis=1,inplace=True)
    return data
cars_prices=remove_columns(cars_prices,60)
cars_prices.columns

Index(['Id', 'city', 'year', 'manufacturer', 'make', 'condition', 'cylinders',
       'fuel', 'odometer', 'title_status', 'transmission', 'drive', 'type',
       'paint_color', 'lat', 'long', 'county_fips', 'county_name',
       'state_fips', 'state_code', 'state_name', 'weather', 'price'],
      dtype='object')

In [199]:
#Quitamos Outliers precio
q_25=cars_prices.price.quantile(0.05)
q_75=cars_prices.price.quantile(0.95)
cars_prices=cars_prices[(cars_prices.price>=q_25) & (cars_prices.price<=q_75) ]

In [200]:
#Rellenamos los valores de kilometraje que faltan aplicando un modelo sencillo.
def predict_odometer(cars_prices):
    df_odo=cars_prices.dropna()
    X=df_odo[['year']]
    y=df_odo['odometer']
    from sklearn.model_selection import train_test_split

    X_train, X_test, Y_train,Y_test=train_test_split(X,y,test_size=0.33,random_state=1)

    from sklearn.linear_model import LinearRegression
    reg_odometer = LinearRegression(normalize=True).fit(X_train, Y_train)
    
    reg_odometer.fit(X, y)
    y_real=reg_odometer.predict(np.array(cars_prices['year'].fillna(method='ffill')).reshape(-1,1))
    
    return pd.Series(y_real)

cars_prices['odometer'].fillna(predict_odometer(cars_prices),inplace=True)
cars_prices_test['odometer'].fillna(predict_odometer(cars_prices_test),inplace=True)

In [201]:
cars_prices['odometer'].isna().value_counts()

False    409729
True      13305
Name: odometer, dtype: int64

In [202]:
cars_prices.condition.replace({'like new':'excellent','fair':'good'},inplace=True)
cars_prices_test.condition.replace({'like new':'excellent','fair':'good'},inplace=True)
cars_prices.condition.value_counts()

excellent    138526
good         114359
new            1316
salvage         831
Name: condition, dtype: int64

In [203]:
pd.Series(cars_prices.condition.unique()).dropna()

0    excellent
2         good
3      salvage
4          new
dtype: object

In [204]:
def predict_condition(cars_prices):
    from sklearn import preprocessing
    df_odo=cars_prices.dropna()

    le = preprocessing.LabelEncoder()
    le.fit(df_odo.condition.unique())
    df_odo.condition=le.transform(df_odo.condition) 

    #Entrenamos el modelo

    X=df_odo[['year','odometer']]
    y=df_odo['condition']

    from sklearn.model_selection import train_test_split

    X_train, X_test, Y_train,Y_test=train_test_split(X,y,test_size=0.33,random_state=1)
    from sklearn.linear_model import LinearRegression
    reg_condition = LinearRegression(normalize=True).fit(X_train, Y_train)

    #Labelizamos

    from sklearn import preprocessing
    cars_prices.condition.fillna('desconocido',inplace=True)
    le = preprocessing.LabelEncoder()
    le.fit(cars_prices.condition.unique())
    cars_prices.condition=le.transform(cars_prices.condition) 

    #Aplicamos modelo

    condition=[]
    for row in cars_prices[['condition','year','odometer']].values:
        test_X = np.array(row[1:]).reshape(-1,1)
        try:
            predict=reg.predict(test_X)[0]
        except:
            predict=row[0]
        condition.append(predict)
    return condition
    
cars_prices['condition']=predict_condition(cars_prices)
cars_prices_test['condition']=predict_condition(cars_prices_test)

c:\program files (x86)\python37-32\lib\site-packages\pandas\core\generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value
c:\program files (x86)\python37-32\lib\site-packages\pandas\core\generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [205]:
def process_title_status(cars_prices):
    cars_prices['title_status'].fillna('other',inplace=True)
    cars_prices['title_status'].replace({'clean':'good','rebuilt':'regular','lien':'bad','missing':'bad','parts only':'bad','salvage':'bad'},inplace=True)
    from sklearn import preprocessing

    le = preprocessing.LabelEncoder()
    le.fit(cars_prices['title_status'].unique())
    cars_prices['title_status']=le.transform(cars_prices['title_status'])
    return cars_prices

cars_prices=process_title_status(cars_prices)
cars_prices_test=process_title_status(cars_prices_test)

In [206]:
cars_country=pd.read_csv("..\data\cars_manufacturers.csv")

def add_manufacturer_country(cars_country,cars_prices):
    
    cars_prices=pd.merge(cars_prices, cars_country, on='manufacturer', how='left')
    cars_prices=pd.get_dummies(cars_prices, prefix=['country'], columns=['country'])
    return cars_prices

cars_prices=add_manufacturer_country(cars_country,cars_prices)
cars_prices_test=add_manufacturer_country(cars_country,cars_prices_test)

In [207]:

cars_prices_test['title_status'].isna().value_counts()

False    253073
Name: title_status, dtype: int64

In [208]:
cars_prices_test.head()

,Id,city,year,manufacturer,make,condition,cylinders,fuel,odometer,title_status,...,state_code,state_name,weather,country_germany,country_italy,country_japan,country_south korea,country_sweden,country_united kingdom,country_united states
0,974298,duluth,2006.0,ford,f-250 super duty,2.0,8 cylinders,gas,154400.000000,1,...,MN,Minnesota,43.0,0,0,0,0,0,0,1
1,1051884,kansascity,1987.0,chevrolet,NaN,0.0,NaN,gas,169914.138187,1,...,MO,Missouri,52.0,0,0,0,0,0,0,1
2,684464,palmsprings,2010.0,jeep,liberty sport,0.0,6 cylinders,gas,127722.000000,1,...,CA,California,59.0,0,0,0,0,0,0,1
3,1255387,sanmarcos,2003.0,chevrolet,tahoe,2.0,8 cylinders,gas,131962.455018,1,...,TX,Texas,67.0,0,0,0,0,0,0,1
4,1195520,tampa,2006.0,lexus,gs 300,0.0,NaN,gas,124846.514424,1,...,FL,Florida,65.0,0,0,1,0,0,0,0

In [209]:
#Eliminamos los nulos
cars_prices.dropna(inplace=True)

In [210]:
def get_n_cylinders(cylinders):
    cylinders=cylinders.replace('other','0 cylinders')
    cylinders.fillna('0 cylinders',inplace=True)
    n_cylinders=[int(x[0]) for x in cylinders.str.split(" ")]
    return n_cylinders

cars_prices.cylinders=get_n_cylinders(cars_prices.cylinders)
cars_prices_test.cylinders=get_n_cylinders(cars_prices_test.cylinders)

In [213]:

from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(pd.Series(cars_prices.condition.unique()).dropna())
cars_prices.condition=le.transform(cars_prices.condition)

In [214]:
cars_prices.corr()

,Id,year,condition,cylinders,odometer,title_status,lat,long,county_fips,state_fips,weather,price,country_germany,country_italy,country_japan,country_south korea,country_sweden,country_united kingdom,country_united states
Id,1.000000,0.020121,0.008713,-0.019492,0.003720,-0.001975,-0.011270,0.134658,0.231966,0.231536,-0.026383,-0.014233,-0.004710,-0.001784,-0.000150,0.012228,0.001318,-0.002222,0.002878
year,0.020121,1.000000,-0.313709,-0.257482,-0.131695,0.050838,-0.006162,-0.007659,-0.001921,-0.002172,0.000483,0.355028,0.020476,0.007026,0.111391,0.105848,-0.005659,0.000603,-0.113877
condition,0.008713,-0.313709,1.000000,0.108637,0.160179,-0.026568,0.014879,0.091682,0.010425,0.010871,-0.017474,-0.398429,-0.025948,-0.008634,-0.035666,-0.044821,0.012380,-0.002499,0.044671
cylinders,-0.019492,-0.257482,0.108637,1.000000,0.090223,-0.039036,0.003068,-0.001878,0.009352,0.009272,-0.019359,0.094673,-0.084435,-0.038469,-0.318082,-0.153633,-0.031369,-0.010403,0.309918
odometer,0.003720,-0.131695,0.160179,0.090223,1.000000,-0.027847,-0.002017,0.024212,0.002087,0.002127,-0.002164,-0.229060,-0.026226,-0.014669,-0.003553,-0.043840,0.017580,-0.014194,0.022100
title_status,-0.001975,0.050838,-0.026568,-0.039036,-0.027847,1.000000,-0.009676,0.024444,0.029320,0.029273,0.002665,-0.020556,0.002213,0.001249,0.036150,0.009020,-0.001269,-0.006452,-0.027314
lat,-0.011270,-0.006162,0.014879,0.003068,-0.002017,-0.009676,1.000000,-0.183161,0.196001,0.197683,-0.867291,0.003362,-0.012944,-0.009713,-0.034390,-0.008698,0.003361,-0.012779,0.036095
long,0.134658,-0.007659,0.091682,-0.001878,0.024212,0.024444,-0.183161,1.000000,0.253866,0.253740,0.056018,-0.111909,-0.018088,-0.002171,-0.011268,0.009135,0.016405,-0.005616,0.019198
county_fips,0.231966,-0.001921,0.010425,0.009352,0.002087,0.029320,0.196001,0.253866,1.000000,0.999980,-0.147591,-0.016779,-0.024969,0.000146,-0.015444,0.009841,0.001096,-0.005580,0.027448
state_fips,0.231536,-0.002172,0.010871,0.009272,0.002127,0.029273,0.197683,0.253740,0.999980,1.000000,-0.149109,-0.017017,-0.024913,0.000123,-0.015387,0.009812,0.001127,-0.005564,0.027378
weather,-0.026383,0.000483,-0.017474,-0.019359,-0.002164,0.002665,-0.867291,0.056018,-0.147591,-0.149109,1.000000,0.000902,0.025778,0.007337,0.049567,0.009880,0.000551,0.011569,-0.055156
price,-0.014233,0.355028,-0.398429,0.094673,-0.229060,-0.020556,0.003362,-0.111909,-0.016779,-0.017017,0.000902,1.000000,-0.009803,-0.007543,-0.059789,-0.031620,-0.043076,-0.003830,0.062173
country_germany,-0.004710,0.020476,-0.025948,-0.084435,-0.026226,0.002213,-0.012944,-0.018088,-0.024969,-0.024913,0.025778,-0.009803,1.000000,-0.008721,-0.151141,-0.049739,-0.020802,-0.024485,-0.277761
country_italy,-0.001784,0.007026,-0.008634,-0.038469,-0.014669,0.001249,-0.009713,-0.002171,0.000146,0.000123,0.007337,-0.007543,-0.008721,1.000000,-0.020273,-0.006672,-0.002790,-0.003284,-0.037257
country_japan,-0.000150,0.111391,-0.035666,-0.318082,-0.003553,0.036150,-0.034390,-0.011268,-0.015444,-0.015387,0.049567,-0.059789,-0.151141,-0.020273,1.000000,-0.115631,-0.048359,-0.056923,-0.645729
country_south korea,0.012228,0.105848,-0.044821,-0.153633,-0.043840,0.009020,-0.008698,0.009135,0.009841,0.009812,0.009880,-0.031620,-0.049739,-0.006672,-0.115631,1.000000,-0.015914,-0.018733,-0.212502
country_sweden,0.001318,-0.005659,0.012380,-0.031369,0.017580,-0.001269,0.003361,0.016405,0.001096,0.001127,0.000551,-0.043076,-0.020802,-0.002790,-0.048359,-0.015914,1.000000,-0.007834,-0.088872
country_united kingdom,-0.002222,0.000603,-0.002499,-0.010403,-0.014194,-0.006452,-0.012779,-0.005616,-0.005580,-0.005564,0.011569,-0.003830,-0.024485,-0.003284,-0.056923,-0.018733,-0.007834,1.000000,-0.104610
country_united states,0.002878,-0.113877,0.044671,0.309918,0.022100,-0.027314,0.036095,0.019198,0.027448,0.027378,-0.055156,0.062173,-0.277761,-0.037257,-0.645729,-0.212502,-0.088872,-0.104610,1.000000

In [215]:
PARAMETROS=['year','odometer','title_status','long','cylinders']
X=cars_prices[PARAMETROS]
y=cars_prices['price']

In [216]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train,Y_test=train_test_split(X,y,test_size=0.33,random_state=1)

In [217]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression

In [218]:
#reg = LinearRegression(normalize=True).fit(X_train, Y_train)
reg = RandomForestRegressor(max_depth=3, random_state=5,n_estimators=100).fit(X_train, Y_train)
#reg.fit(X_train, Y_train)

In [219]:
y_pre=reg.predict(X_test)

In [220]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_pre,Y_test )

25502104.748694878

In [221]:
cars_prices.corr()

,Id,year,condition,cylinders,odometer,title_status,lat,long,county_fips,state_fips,weather,price,country_germany,country_italy,country_japan,country_south korea,country_sweden,country_united kingdom,country_united states
Id,1.000000,0.020121,0.008713,-0.019492,0.003720,-0.001975,-0.011270,0.134658,0.231966,0.231536,-0.026383,-0.014233,-0.004710,-0.001784,-0.000150,0.012228,0.001318,-0.002222,0.002878
year,0.020121,1.000000,-0.313709,-0.257482,-0.131695,0.050838,-0.006162,-0.007659,-0.001921,-0.002172,0.000483,0.355028,0.020476,0.007026,0.111391,0.105848,-0.005659,0.000603,-0.113877
condition,0.008713,-0.313709,1.000000,0.108637,0.160179,-0.026568,0.014879,0.091682,0.010425,0.010871,-0.017474,-0.398429,-0.025948,-0.008634,-0.035666,-0.044821,0.012380,-0.002499,0.044671
cylinders,-0.019492,-0.257482,0.108637,1.000000,0.090223,-0.039036,0.003068,-0.001878,0.009352,0.009272,-0.019359,0.094673,-0.084435,-0.038469,-0.318082,-0.153633,-0.031369,-0.010403,0.309918
odometer,0.003720,-0.131695,0.160179,0.090223,1.000000,-0.027847,-0.002017,0.024212,0.002087,0.002127,-0.002164,-0.229060,-0.026226,-0.014669,-0.003553,-0.043840,0.017580,-0.014194,0.022100
title_status,-0.001975,0.050838,-0.026568,-0.039036,-0.027847,1.000000,-0.009676,0.024444,0.029320,0.029273,0.002665,-0.020556,0.002213,0.001249,0.036150,0.009020,-0.001269,-0.006452,-0.027314
lat,-0.011270,-0.006162,0.014879,0.003068,-0.002017,-0.009676,1.000000,-0.183161,0.196001,0.197683,-0.867291,0.003362,-0.012944,-0.009713,-0.034390,-0.008698,0.003361,-0.012779,0.036095
long,0.134658,-0.007659,0.091682,-0.001878,0.024212,0.024444,-0.183161,1.000000,0.253866,0.253740,0.056018,-0.111909,-0.018088,-0.002171,-0.011268,0.009135,0.016405,-0.005616,0.019198
county_fips,0.231966,-0.001921,0.010425,0.009352,0.002087,0.029320,0.196001,0.253866,1.000000,0.999980,-0.147591,-0.016779,-0.024969,0.000146,-0.015444,0.009841,0.001096,-0.005580,0.027448
state_fips,0.231536,-0.002172,0.010871,0.009272,0.002127,0.029273,0.197683,0.253740,0.999980,1.000000,-0.149109,-0.017017,-0.024913,0.000123,-0.015387,0.009812,0.001127,-0.005564,0.027378
weather,-0.026383,0.000483,-0.017474,-0.019359,-0.002164,0.002665,-0.867291,0.056018,-0.147591,-0.149109,1.000000,0.000902,0.025778,0.007337,0.049567,0.009880,0.000551,0.011569,-0.055156
price,-0.014233,0.355028,-0.398429,0.094673,-0.229060,-0.020556,0.003362,-0.111909,-0.016779,-0.017017,0.000902,1.000000,-0.009803,-0.007543,-0.059789,-0.031620,-0.043076,-0.003830,0.062173
country_germany,-0.004710,0.020476,-0.025948,-0.084435,-0.026226,0.002213,-0.012944,-0.018088,-0.024969,-0.024913,0.025778,-0.009803,1.000000,-0.008721,-0.151141,-0.049739,-0.020802,-0.024485,-0.277761
country_italy,-0.001784,0.007026,-0.008634,-0.038469,-0.014669,0.001249,-0.009713,-0.002171,0.000146,0.000123,0.007337,-0.007543,-0.008721,1.000000,-0.020273,-0.006672,-0.002790,-0.003284,-0.037257
country_japan,-0.000150,0.111391,-0.035666,-0.318082,-0.003553,0.036150,-0.034390,-0.011268,-0.015444,-0.015387,0.049567,-0.059789,-0.151141,-0.020273,1.000000,-0.115631,-0.048359,-0.056923,-0.645729
country_south korea,0.012228,0.105848,-0.044821,-0.153633,-0.043840,0.009020,-0.008698,0.009135,0.009841,0.009812,0.009880,-0.031620,-0.049739,-0.006672,-0.115631,1.000000,-0.015914,-0.018733,-0.212502
country_sweden,0.001318,-0.005659,0.012380,-0.031369,0.017580,-0.001269,0.003361,0.016405,0.001096,0.001127,0.000551,-0.043076,-0.020802,-0.002790,-0.048359,-0.015914,1.000000,-0.007834,-0.088872
country_united kingdom,-0.002222,0.000603,-0.002499,-0.010403,-0.014194,-0.006452,-0.012779,-0.005616,-0.005580,-0.005564,0.011569,-0.003830,-0.024485,-0.003284,-0.056923,-0.018733,-0.007834,1.000000,-0.104610
country_united states,0.002878,-0.113877,0.044671,0.309918,0.022100,-0.027314,0.036095,0.019198,0.027448,0.027378,-0.055156,0.062173,-0.277761,-0.037257,-0.645729,-0.212502,-0.088872,-0.104610,1.000000

In [222]:
#X_submision=np.array(cars_prices_test[['year','odometer']].dropna()).reshape(-1, 1)
X_submision=cars_prices_test[PARAMETROS]

In [223]:
X_submision.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 253073 entries, 0 to 253072
Data columns (total 5 columns):
year            252162 non-null float64
odometer        253073 non-null float64
title_status    253073 non-null int32
long            253073 non-null float64
cylinders       253073 non-null int64
dtypes: float64(3), int32(1), int64(1)
memory usage: 10.6 MB

In [224]:
ids=cars_prices_test['Id']
X_submission=cars_prices_test[PARAMETROS]

In [225]:
X_submission.fillna(method='ffill',inplace=True)

c:\program files (x86)\python37-32\lib\site-packages\pandas\core\frame.py:4034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [226]:
predict=pd.Series(reg.predict(X_submission))

submision=pd.concat([ids, predict], axis=1)

In [227]:
submision.columns=['id','price']

In [228]:
submision.to_csv(path_or_buf='../output/submision.csv',header=True,index=False)