# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [5]:
# import reduce from functools, numpy and pandas
from functools import reduce 
import numpy as np
import pandas as pd

# # Challenge 1 - Mapping

#### We will use the map function to clean up a words in a book.

In the following cell, we will read a text file containing the book The Prophet by Khalil Gibran.

In [94]:
# Run this code:

location = '../58585-0.txt'
with open(location, 'r', encoding="utf8") as f:
    prophet = f.read().split(' ')

#### Let's remove the first 568 words since they contain information about the book but are not part of the book itself. 

Do this by removing from `prophet` elements 0 through 567 of the list (you can also do this by keeping elements 568 through the last element).

In [95]:
# Your code here:
# del(prophet[:567])
del(prophet[:568])
print(prophet[:100])

['PROPHET\n\n|Almustafa,', 'the{7}', 'chosen', 'and', 'the\nbeloved,', 'who', 'was', 'a', 'dawn', 'unto', 'his', 'own\nday,', 'had', 'waited', 'twelve', 'years', 'in', 'the', 'city\nof', 'Orphalese', 'for', 'his', 'ship', 'that', 'was', 'to\nreturn', 'and', 'bear', 'him', 'back', 'to', 'the', 'isle', 'of\nhis', 'birth.\n\nAnd', 'in', 'the', 'twelfth', 'year,', 'on', 'the', 'seventh\nday', 'of', 'Ielool,', 'the', 'month', 'of', 'reaping,', 'he\nclimbed', 'the', 'hill', 'without', 'the', 'city', 'walls\nand', 'looked', 'seaward;', 'and', 'he', 'beheld', 'his\nship', 'coming', 'with', 'the', 'mist.\n\nThen', 'the', 'gates', 'of', 'his', 'heart', 'were', 'flung\nopen,', 'and', 'his', 'joy', 'flew', 'far', 'over', 'the', 'sea.\nAnd', 'he', 'closed', 'his', 'eyes', 'and', 'prayed', 'in', 'the\nsilences', 'of', 'his', 'soul.\n\n*****\n\nBut', 'as', 'he', 'descended', 'the', 'hill,', 'a', 'sadness\ncame', 'upon', 'him,']

If you look through the words, you will find that many words have a reference attached to them. For example, let's look at words 1 through 10.

In [39]:
# Your code here:
print(prophet[:10])

['PROPHET\n\n|Almustafa,', 'the{7}', 'chosen', 'and', 'the\nbeloved,', 'who', 'was', 'a', 'dawn', 'unto']

# The next step is to create a function that will remove references. 

We will do this by splitting the string on the `{` character and keeping only the part before this character. Write your function below.

In [96]:
def reference(x):
    '''
    Input: A string
    Output: The string with references removed
    
    Example:
    Input: 'the{7}'
    Output: 'the'
    '''
    
    # Your code here:
    x = x.split('{')    
    return x[0]

Now that we have our function, use the `map()` function to apply this function to our book, The Prophet. Return the resulting list to a new list called `prophet_reference`

In [98]:
# Your code here:
prophet_reference = list(map(reference, prophet))
print(prophet_reference[:100])

['PROPHET\n\n|Almustafa,', 'the', 'chosen', 'and', 'the\nbeloved,', 'who', 'was', 'a', 'dawn', 'unto', 'his', 'own\nday,', 'had', 'waited', 'twelve', 'years', 'in', 'the', 'city\nof', 'Orphalese', 'for', 'his', 'ship', 'that', 'was', 'to\nreturn', 'and', 'bear', 'him', 'back', 'to', 'the', 'isle', 'of\nhis', 'birth.\n\nAnd', 'in', 'the', 'twelfth', 'year,', 'on', 'the', 'seventh\nday', 'of', 'Ielool,', 'the', 'month', 'of', 'reaping,', 'he\nclimbed', 'the', 'hill', 'without', 'the', 'city', 'walls\nand', 'looked', 'seaward;', 'and', 'he', 'beheld', 'his\nship', 'coming', 'with', 'the', 'mist.\n\nThen', 'the', 'gates', 'of', 'his', 'heart', 'were', 'flung\nopen,', 'and', 'his', 'joy', 'flew', 'far', 'over', 'the', 'sea.\nAnd', 'he', 'closed', 'his', 'eyes', 'and', 'prayed', 'in', 'the\nsilences', 'of', 'his', 'soul.\n\n*****\n\nBut', 'as', 'he', 'descended', 'the', 'hill,', 'a', 'sadness\ncame', 'upon', 'him,']

Another thing you may have noticed is that some words contain a line break. Let's write a function to split those words. Our function will return the string split on the character `\n`. Write your function in the cell below.

In [99]:
def line_break(x):
    '''
    Input: A string
    Output: A list of strings split on the line break (\n) character
        
    Example:
    Input: 'the\nbeloved'
    Output: ['the', 'beloved']
    '''
    
    # Your code here:
    x = x.split('\n')    
    return x

Apply the `line_break` function to the `prophet_reference` list. Name the new list `prophet_line`.

In [101]:
# Your code here:
prophet_line = list(map(line_break, prophet_reference))
print(prophet_line[:100])

[['PROPHET', '', '|Almustafa,'], ['the'], ['chosen'], ['and'], ['the', 'beloved,'], ['who'], ['was'], ['a'], ['dawn'], ['unto'], ['his'], ['own', 'day,'], ['had'], ['waited'], ['twelve'], ['years'], ['in'], ['the'], ['city', 'of'], ['Orphalese'], ['for'], ['his'], ['ship'], ['that'], ['was'], ['to', 'return'], ['and'], ['bear'], ['him'], ['back'], ['to'], ['the'], ['isle'], ['of', 'his'], ['birth.', '', 'And'], ['in'], ['the'], ['twelfth'], ['year,'], ['on'], ['the'], ['seventh', 'day'], ['of'], ['Ielool,'], ['the'], ['month'], ['of'], ['reaping,'], ['he', 'climbed'], ['the'], ['hill'], ['without'], ['the'], ['city'], ['walls', 'and'], ['looked'], ['seaward;'], ['and'], ['he'], ['beheld'], ['his', 'ship'], ['coming'], ['with'], ['the'], ['mist.', '', 'Then'], ['the'], ['gates'], ['of'], ['his'], ['heart'], ['were'], ['flung', 'open,'], ['and'], ['his'], ['joy'], ['flew'], ['far'], ['over'], ['the'], ['sea.', 'And'], ['he'], ['closed'], ['his'], ['eyes'], ['and'], ['prayed'], ['in'], ['the', 'silences'], ['of'], ['his'], ['soul.', '', '*****', '', 'But'], ['as'], ['he'], ['descended'], ['the'], ['hill,'], ['a'], ['sadness', 'came'], ['upon'], ['him,']]

If you look at the elements of `prophet_line`, you will see that the function returned lists and not strings. Our list is now a list of lists. Flatten the list using list comprehension. Assign this new list to `prophet_flat`.

In [102]:
# Your code here:
print(prophet_line[:100])

[['PROPHET', '', '|Almustafa,'], ['the'], ['chosen'], ['and'], ['the', 'beloved,'], ['who'], ['was'], ['a'], ['dawn'], ['unto'], ['his'], ['own', 'day,'], ['had'], ['waited'], ['twelve'], ['years'], ['in'], ['the'], ['city', 'of'], ['Orphalese'], ['for'], ['his'], ['ship'], ['that'], ['was'], ['to', 'return'], ['and'], ['bear'], ['him'], ['back'], ['to'], ['the'], ['isle'], ['of', 'his'], ['birth.', '', 'And'], ['in'], ['the'], ['twelfth'], ['year,'], ['on'], ['the'], ['seventh', 'day'], ['of'], ['Ielool,'], ['the'], ['month'], ['of'], ['reaping,'], ['he', 'climbed'], ['the'], ['hill'], ['without'], ['the'], ['city'], ['walls', 'and'], ['looked'], ['seaward;'], ['and'], ['he'], ['beheld'], ['his', 'ship'], ['coming'], ['with'], ['the'], ['mist.', '', 'Then'], ['the'], ['gates'], ['of'], ['his'], ['heart'], ['were'], ['flung', 'open,'], ['and'], ['his'], ['joy'], ['flew'], ['far'], ['over'], ['the'], ['sea.', 'And'], ['he'], ['closed'], ['his'], ['eyes'], ['and'], ['prayed'], ['in'], ['the', 'silences'], ['of'], ['his'], ['soul.', '', '*****', '', 'But'], ['as'], ['he'], ['descended'], ['the'], ['hill,'], ['a'], ['sadness', 'came'], ['upon'], ['him,']]

# Challenge 2 - Filtering

When printing out a few words from the book, we see that there are words that we may not want to keep if we choose to analyze the corpus of text. Below is a list of words that we would like to get rid of. Create a function that will return false if it contains a word from the list of words specified and true otherwise.

In [126]:
def word_filter(x):
    '''
    Input: A string
    Output: true if the word is not in the specified list and false if the word is in the list
        
    Example:
    word list = ['and', 'the']
    Input: 'and'
    Output: False
    
    Input: 'John'
    Output: True
    '''
    
    word_list = ['and', 'the', 'a', 'an']
    
    # Your code here:
    for word in word_list:
        return x != word

In [137]:
word_filter(prophet_line)

True

Use the `filter()` function to filter out the words speficied in the `word_filter()` function. Store the filtered list in the variable `prophet_filter`.

In [140]:
prophet_filter = word_filter(prophet_line)

# Bonus Challenge - Part 1

Rewrite the `word_filter` function above to not be case sensitive.

In [141]:
def word_filter_case(x):
   
    word_list = ['and', 'the', 'a', 'an']
    
    # Your code here:
    for word in word_list:
        return x.lower != word.lower

In [142]:
word_filter_case('And')

True

# Challenge 3 - Reducing

#### Now that we have significantly cleaned up our text corpus, let's use the `reduce()` function to put the words back together into one long string separated by spaces. 

We will start by writing a function that takes two strings and concatenates them together with a space between the two strings.

In [135]:
def concat_space(a, b):
    '''
    Input:Two strings
    Output: A single string separated by a space
        
    Example:
    Input: 'John', 'Smith'
    Output: 'John Smith'
    '''
    
    # Your code here:
    c = a + ' ' + b
    return c

In [136]:
concat_space('John', 'Smith')

'John Smith'

Use the function above to reduce the text corpus in the list `prophet_filter` into a single string. Assign this new string to the variable `prophet_string`.

In [144]:
# Your code here:
prophet_string = concat_space(prophet_line,prophet_filter)

# Challenge 4 - Applying Functions to DataFrames

#### Our next step is to use the apply function to a dataframe and transform all cells.

To do this, we will load a dataset below and then write a function that will perform the transformation.

In [146]:
# Run this code:

# The dataset below contains information about pollution from PM2.5 particles in Beijing 

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/00381/PRSA_data_2010.1.1-2014.12.31.csv"
pm25 = pd.read_csv(url)

Let's look at the data using the `head()` function.

In [147]:
# Your code here:
pm25.head()

   No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
0   1  2010      1    1     0    NaN   -21 -11.0  1021.0   NW   1.79   0   0
1   2  2010      1    1     1    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2   3  2010      1    1     2    NaN   -21 -11.0  1019.0   NW   6.71   0   0
3   4  2010      1    1     3    NaN   -21 -14.0  1019.0   NW   9.84   0   0
4   5  2010      1    1     4    NaN   -20 -12.0  1018.0   NW  12.97   0   0

The next step is to create a function that divides a cell by 24 to produce an hourly figure. Write the function below.

In [148]:
def hourly(x):
    '''
    Input: A numerical value
    Output: The value divided by 24
        
    Example:
    Input: 48
    Output: 2.0
    '''
    
    # Your code here:
    hour = x / 24
    return hour

Apply this function to the columns `Iws`, `Is`, and `Ir`. Store this new dataframe in the variable `pm25_hourly`.

In [155]:
# Your code here:
pm25_hourly = pm25.copy()
hourly(pm25_hourly['Iws'])

0         0.074583
1         0.205000
2         0.279583
3         0.410000
4         0.540417
5         0.670833
6         0.801250
7         0.875833
8         1.006250
9         1.136667
10        1.304167
11        1.434583
12        1.565000
13        1.695417
14        1.825833
15        0.037083
16        0.074583
17        0.111667
18        0.074583
19        0.074583
20        0.037083
21        0.074583
22        0.111667
23        0.037083
24        0.074583
25        0.111667
26        0.148750
27        0.223333
28        0.260417
29        0.297500
           ...
43794     0.149167
43795     0.242083
43796     0.540000
43797     0.912500
43798     1.322083
43799     1.620000
43800     2.160000
43801     2.569583
43802     2.942083
43803     3.407917
43804     3.947917
43805     4.581250
43806     5.419583
43807     5.959583
43808     6.257500
43809     6.499583
43810     6.797500
43811     7.095417
43812     7.393333
43813     7.765833
43814     8.175417
43815     8.547917
43816     8.920417
43817     9.218333
43818     9.423333
43819     9.665417
43820     9.907500
43821    10.112500
43822    10.280000
43823    10.410417
Name: Iws, Length: 43824, dtype: float64

#### Our last challenge will be to create an aggregate function and apply it to a select group of columns in our dataframe.

Write a function that returns the standard deviation of a column divided by the length of a column minus 1. Since we are using pandas, do not use the `len()` function. One alternative is to use `count()`. Also, use the numpy version of standard deviation.

In [21]:
def sample_sd(x):
    '''
    Input: A Pandas series of values
    Output: the standard deviation divided by the number of elements in the series
        
    Example:
    Input: pd.Series([1,2,3,4])
    Output: 0.3726779962
    '''
    
    # Your code here: