# Interactive Visualization Lab

Complete the following set of exercises to solidify your knowledge of interactive visualization using Plotly, Cufflinks, and IPyWidgets.

In [1]:
import pandas as pd
import plotly.plotly as py
import cufflinks as cf
from ipywidgets import interact
import numpy as np

cf.go_offline()

# data = pd.read_excel('../data/Online Retail.xlsx')

In [3]:
data['Year'] = pd.DatetimeIndex(data['InvoiceDate']).year
data['Month'] = pd.DatetimeIndex(data['InvoiceDate']).month
data['Day'] = pd.DatetimeIndex(data['InvoiceDate']).day
data.head(10)

,InvoiceNo,InvoiceDate,StockCode,Description,Quantity,UnitPrice,Revenue,CustomerID,Country,Year,Month,Day
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.30,17850,United Kingdom,2010,12,1
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.30,17850,United Kingdom,2010,12,1
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.30,17850,United Kingdom,2010,12,1
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64,2.55,163.20,17511,United Kingdom,2010,12,1
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.60,13408,United Kingdom,2010,12,1
5,536396,2010-12-01 10:51:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.30,17850,United Kingdom,2010,12,1
6,536401,2010-12-01 11:21:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,4,2.95,11.80,15862,United Kingdom,2010,12,1
7,536406,2010-12-01 11:33:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,8,2.55,20.40,17850,United Kingdom,2010,12,1
8,536502,2010-12-01 12:36:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.95,17.70,16552,United Kingdom,2010,12,1
9,536520,2010-12-01 12:43:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,3,2.95,8.85,14729,United Kingdom,2010,12,1

## 1. Create an interactive bar chart showing total quantity and revenue by country (excluding United Kingdom) for the month of April 2011.

In [89]:
#Creamos nueva table con el filtrado del enunciado  
data1 = data[(data['Country'] != 'United Kingdom')&(data['Year']== 2011)&(data['Month']== 4)]

@interact(Day=list(data1['Day'].unique()),
          Month=list(data1['Month'].unique())
         )

def bar_chart(Day, Month):
    databar1 = data1[(data1['Day']==Day) & (data1['Month']==Month)].groupby('Country').agg({'Quantity':'sum', 'Revenue':'sum'}).reset_index()
    

    databar1.iplot(kind='bar', x='Country', xTitle='Country',
                   yTitle='Total Quantity & Revenue', color='blue',
                   title='Total Quantity & Revenue by Country')

interactive(children=(Dropdown(description='Day', options=(11, 26, 21, 19, 28, 6, 13, 14, 15, 4, 8, 1, 7, 12, …

In [ ]:
## 2. Create an interactive line chart showing quantity and revenue sold to France between January 1st and May 31st 2011.

In [46]:
data2 = data[(data['Year']== 2011) & (data['Month']>=1) & (data['Month']<6) & (data['Country']== 'France')]
datap2 = data2.pivot_table(index=["InvoiceDate"], values=["Quantity", "Revenue"], aggfunc=np.sum)

datap2.head()


#datap2.iplot(kind='line')

                     Quantity  Revenue
InvoiceDate
2011-01-05 12:42:00       359   502.07
2011-01-05 14:48:00       369   763.11
2011-01-06 14:26:00       261   283.77
2011-01-06 16:12:00       177   425.25
2011-01-07 12:07:00       488   676.16

## 3. Create an interactive scatter plot showing the relationship between average quantity (x-axis) and average unit price (y-axis) for the product PARTY BUNTING with the plot points color-coded by country (categories).

In [ ]:
data3 = data[(data['Description']== 'PARTY BUNTING')]

data4 = data3.groupby('Country').agg({'Quantity':'mean', 'UnitPrice': 'mean'})


#datap3 = data3.pivot_table(index=["Country"], values=["Quantity", "UnitPrice"], aggfunc=np.mean)




data4.iplot(x="Quantity", y="UnitPrice", categories="Country",
            xTitle="Quantity", yTitle="UnitPrice",
            title='Sucio')

## 4. Create a set of interactive histograms showing the distributions of quantity per invoice for the following countries: EIRE, Germany, France, and Netherlands.

## 5. Create an interactive side-by-side bar chart showing the revenue by country listed below (bars) for each of the products listed below.

In [ ]:
product_list = ['JUMBO BAG RED RETROSPOT', 
                'CREAM HANGING HEART T-LIGHT HOLDER',
                'REGENCY CAKESTAND 3 TIER']

country_list = ['EIRE', 'Germany', 'France', 'Netherlands']

## 6. Create an interactive line chart showing quantity sold by day for the United Kingdom. Add drop-down boxes for Year and Month that allow you to filter the date range that appears in the chart.3

In [ ]:
data['Year'] = pd.DatetimeIndex(data['InvoiceDate']).year
data['Month'] = pd.DatetimeIndex(data['InvoiceDate']).month
data['Day'] = pd.DatetimeIndex(data['InvoiceDate']).day
uk = data[data['Country']=='United Kingdom']

## 7. Create an interactive scatter plot that plots number of invoices (x-axis) vs. number of customers (y-axis) and the plot points represent individual products. Add two sliders that control the x and y axis ranges.

In [ ]:
agg_func = {'InvoiceNo':'nunique',
            'Quantity':'sum',
            'UnitPrice':'mean',
            'Revenue':'sum',
            'CustomerID':'nunique'}

products = uk.groupby('Description').agg(agg_func)

## 8. Creat an interactive bar chart that shows revenue by product description. Add a text field widget that filters the results to show the product that contain the text entered in their description.