In [1]:
import pandas as pd

sent = pd.read_csv("sentiment140.zip", encoding="latin1", header=None)

In [2]:
sent.head()

,0,1,2,3,4,5
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [3]:
sent.columns=['target','id','date','flag','user','text']
sent.head()

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [4]:
sent.describe()

             target            id
count  1.600000e+06  1.600000e+06
mean   2.000000e+00  1.998818e+09
std    2.000001e+00  1.935761e+08
min    0.000000e+00  1.467810e+09
25%    0.000000e+00  1.956916e+09
50%    2.000000e+00  2.002102e+09
75%    4.000000e+00  2.177059e+09
max    4.000000e+00  2.329206e+09

In [5]:
sent.dtypes

target     int64
id         int64
date      object
flag      object
user      object
text      object
dtype: object

In [6]:
sent.count()

target    1600000
id        1600000
date      1600000
flag      1600000
user      1600000
text      1600000
dtype: int64

In [7]:
sent['flag'].value_counts()

NO_QUERY    1600000
Name: flag, dtype: int64

In [8]:
sent.drop('flag', axis=1, inplace=True)

In [12]:
X = sent.drop(['id','date','user'], axis=1)
y = sent['target']

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=5)

In [14]:
from sklearn.linear_model import Perceptron

perceptron = Perceptron()
perceptron = perceptron.fit(X_train, y_train)
perceptron.score(X_test, y_test)

ValueError: could not convert string to float: 'having tea then chilling with some pear cider watching army wives '

In [16]:
from sklearn.metrics import classification_report
print(classification_report(y_test, perceptron.predict(X_test)))

              precision    recall  f1-score   support

           0       0.88      0.94      0.91     14552
           1       0.71      0.54      0.61      4067

    accuracy                           0.85     18619
   macro avg       0.79      0.74      0.76     18619
weighted avg       0.84      0.85      0.84     18619

In [17]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(random_state=5)

regressor.fit(X_train, y_train)
regressor.score(X_test, y_test)

/usr/local/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.3458416143734825