In [1]:
import re
import csv
import pandas as pd

In [2]:
def edades_limpia(age):
    if age.lower() == 'teen':
        age = '18'
    # if  age.lower() == re.compile(r'teen'):
    #     age = '18'
    if  age.lower() == 'young':
        age = '10'
    elif  age == re.compile(r'.young.'):
        age = '10'
    if age.lower() == 'adult':
        age = '40'
    elif  age == re.compile(r'.adult.'):
        age = '40'

    return age

In [3]:
sharks = pd.read_csv("./data/GSAF5.csv", header=0, encoding='unicode_escape')

In [4]:
# SACAMOS EL NUMERO DE FILAS Y COLUMNAS DE LA TABLA

In [7]:
print('TAMAÑO DE LA TABLA:')
print('\n ------------------------------------------------------- \n')
size = sharks.shape
print('(filas, columnas)' + str(size))

TAMAÑO DE LA TABLA:

 -------------------------------------------------------

(filas, columnas)(5992, 24)

In [8]:
# IMPRIMIMOS UNA MUESTRA DE CADA COLUMNA CON SUS VALORES

In [9]:
print('COLUMNAS CON MUESTRA DE VALORES:')
print('\n-------------------------------------------------------- \n')
pd.set_option('display.max_columns', 32)
print(sharks.head())

COLUMNAS CON MUESTRA DE VALORES:

--------------------------------------------------------

    Case Number       Date  Year        Type    Country      Area  \
0  2016.09.18.c  18-Sep-16  2016  Unprovoked        USA   Florida
1  2016.09.18.b  18-Sep-16  2016  Unprovoked        USA   Florida
2  2016.09.18.a  18-Sep-16  2016  Unprovoked        USA   Florida
3    2016.09.17  17-Sep-16  2016  Unprovoked  AUSTRALIA  Victoria
4    2016.09.15  16-Sep-16  2016  Unprovoked  AUSTRALIA  Victoria

                           Location Activity             Name Sex   Age  \
0  New Smyrna Beach, Volusia County  Surfing             male    M   16
1  New Smyrna Beach, Volusia County  Surfing   Chucky Luciano    M   36
2  New Smyrna Beach, Volusia County  Surfing             male    M   43
3                  Thirteenth Beach  Surfing  Rory Angiolella    M  NaN
4                       Bells Beach  Surfing             male    M  NaN

                                  Injury Fatal (Y/N)   Time   Species   \
0                  Minor injury to thigh           N  13h00        NaN
1                   Lacerations to hands           N  11h00        NaN
2               Lacerations to lower leg           N  10h43        NaN
3           Struck by fin on chest & leg           N    NaN        NaN
4  No injury: Knocked off board by shark           N    NaN  2 m shark

        Investigator or Source                        pdf  \
0  Orlando Sentinel, 9/19/2016       2016.09.18.c-NSB.pdf
1  Orlando Sentinel, 9/19/2016   2016.09.18.b-Luciano.pdf
2  Orlando Sentinel, 9/19/2016       2016.09.18.a-NSB.pdf
3           The Age, 9/18/2016  2016.09.17-Angiolella.pdf
4           The Age, 9/16/2016  2016.09.16-BellsBeach.pdf

                                        href formula  \
0  http://sharkattackfile.net/spreadsheets/pdf_di...
1  http://sharkattackfile.net/spreadsheets/pdf_di...
2  http://sharkattackfile.net/spreadsheets/pdf_di...
3  http://sharkattackfile.net/spreadsheets/pdf_di...
4  http://sharkattackfile.net/spreadsheets/pdf_di...

                                                href Case Number.1  \
0  http://sharkattackfile.net/spreadsheets/pdf_di...  2016.09.18.c
1  http://sharkattackfile.net/spreadsheets/pdf_di...  2016.09.18.b
2  http://sharkattackfile.net/spreadsheets/pdf_di...  2016.09.18.a
3  http://sharkattackfile.net/spreadsheets/pdf_di...    2016.09.17
4  http://sharkattackfile.net/spreadsheets/pdf_di...    2016.09.16

  Case Number.2  original order Unnamed: 22 Unnamed: 23
0  2016.09.18.c            5993         NaN         NaN
1  2016.09.18.b            5992         NaN         NaN
2  2016.09.18.a            5991         NaN         NaN
3    2016.09.17            5990         NaN         NaN
4    2016.09.15            5989         NaN         NaN

In [10]:
# COMPROBAMOS EL NUMERO DE NULOS QUE TIENE CADA COLUMNA

In [11]:
print('NUMERO DE NULOS POR COLUMNA:')
print('\n-------------------------------------------------------- \n')
number_of_null_values = sharks.isnull().sum()
print(number_of_null_values)

NUMERO DE NULOS POR COLUMNA:

--------------------------------------------------------

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
pdf                          0
href formula                 1
href                         3
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [12]:
# ELIMINAMOS LAS COLUMNAS Unnamed: 22 Y Unnamed: 23 PORQUE TIENEN CASI TODOS SUS VALORES NULOS

In [13]:
print('NUMERO DE NULOS POR COLUMNA SIN Unnamed: 22 Y Unnamed: 23:')
print('\n-------------------------------------------------------- \n')
del sharks['Unnamed: 22']
del sharks['Unnamed: 23']
number_of_null_values = sharks.isnull().sum()
print(number_of_null_values)

NUMERO DE NULOS POR COLUMNA SIN Unnamed: 22 Y Unnamed: 23:

--------------------------------------------------------

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
pdf                          0
href formula                 1
href                         3
Case Number.1                0
Case Number.2                0
original order               0
dtype: int64

In [14]:
# MIRAMOS EL NOMBRE DE LAS COLUMNAS

In [15]:
print('NOMBRE COLUMNAS:')
print('\n-------------------------------------------------------- \n')
print(sharks.columns.values)

NOMBRE COLUMNAS:

--------------------------------------------------------

['Case Number' 'Date' 'Year' 'Type' 'Country' 'Area' 'Location' 'Activity'
 'Name' 'Sex ' 'Age' 'Injury' 'Fatal (Y/N)' 'Time' 'Species '
 'Investigator or Source' 'pdf' 'href formula' 'href' 'Case Number.1'
 'Case Number.2' 'original order']

In [16]:
# QUITAMOS ESPACIO EN BLANCO DE LAS COLUMNAS

In [17]:
print('NOMBRE COLUMNAS MODIFICADOS:')
print('\n-------------------------------------------------------- \n')
sharks.rename(index=str, columns={'Sex ': 'Sex', 'Species ': 'Species', 'Fatal (Y/N)': 'Fatal(Y/N)'}, inplace=True)
print(sharks.columns.values)

NOMBRE COLUMNAS MODIFICADOS:

--------------------------------------------------------

['Case Number' 'Date' 'Year' 'Type' 'Country' 'Area' 'Location' 'Activity'
 'Name' 'Sex' 'Age' 'Injury' 'Fatal(Y/N)' 'Time' 'Species'
 'Investigator or Source' 'pdf' 'href formula' 'href' 'Case Number.1'
 'Case Number.2' 'original order']

In [18]:
# LIMPIAMOS LAS EDADES Y SI NO TIENEN NUMERO

In [19]:
print('EDADES LIMPIAS:')
print('\n-------------------------------------------------------- \n')
sharks.fillna(value='1', inplace=True)
shark_age = sharks['Age'].apply(edades_limpia)
print(shark_age.unique())
print(len(set(shark_age)))
print('\n\n')
print(sharks['Age'].unique())
print(len(set(sharks['Age'])))

EDADES LIMPIAS:

--------------------------------------------------------

['16' '36' '43' '1' '60s' '51' '50' '12' '9' '22' '25' '37' '20' '49' '15'
 '21' '40' '72' '18' '29' '31' '11' '10' '59' '42' '34' '35' '19' '6' '27'
 '64' '60' '23' '52' '13' '57' '48' '39' '24' '26' '69' '46' '41' '45'
 '65' '38' '71' '32' '58' '28' '54' '44' '14' '7' '62' '40s' '68' '47'
 '17' '30' '63' '70' '18 months' '53' '20s' '33' '30s' '50s' '8' '61' '55'
 '66' '77' '74' '3' '56' '28 & 26' '5' '86' '18 or 20' '12 or 13'
 '46 & 34' '28, 23 & 30' 'Teens' '36 & 26' '8 or 10' '84' '\xa0 ' ' '
 '30 or 36' '6½' '21 & ?' '75' '33 or 37' 'mid-30s' '73' '23 & 20'
 '7      &    31' '20?' "60's" '32 & 30' '16 to 18' '87' '67' 'Elderly'
 'mid-20s' 'Ca. 33' '21 or 26' '>50' '18 to 22' '9 & 12' '? & 19'
 '9 months' '25 to 35' '23 & 26' '(adult)' '33 & 37' '25 or 28'
 '37, 67, 35, 27,  ? & 27' '21, 34,24 & 35' '30 & 32' '50 & 30' '17 & 35'
 'X' '"middle-age"' '13 or 18' '34 & 19' '33 & 26' '2 to 3 months'
 'MAKE LINE GREEN' '81' '"young"' '7 or 8' '78' '17 & 16' 'F' 'Both 11'
 '9 or 10' '36 & 23' '  ' 'A.M.' '?    &   14' '10 or 12' '31 or 33' 'M'
 '2½' '13 or 14']
147



['16' '36' '43' '1' '60s' '51' '50' '12' '9' '22' '25' '37' '20' '49' '15'
 '21' '40' '72' '18' '29' '31' '11' '10' '59' '42' '34' '35' '19' '6' '27'
 '64' '60' '23' '52' '13' '57' '48' '39' '24' '26' '69' '46' 'Teen' '41'
 '45' '65' '38' '71' '32' '58' '28' '54' '44' '14' '7' '62' '40s' '68'
 '47' '17' '30' '63' '70' '18 months' '53' '20s' '33' '30s' '50s' '8' '61'
 '55' 'teen' '66' '77' '74' '3' '56' '28 & 26' '5' '86' '18 or 20'
 '12 or 13' '46 & 34' '28, 23 & 30' 'Teens' '36 & 26' '8 or 10' '84'
 '\xa0 ' ' ' '30 or 36' '6½' '21 & ?' '75' '33 or 37' 'mid-30s' '73'
 '23 & 20' '7      &    31' '20?' "60's" '32 & 30' '16 to 18' '87' '67'
 'Elderly' 'mid-20s' 'Ca. 33' '21 or 26' '>50' '18 to 22' 'adult' '9 & 12'
 '? & 19' '9 months' '25 to 35' '23 & 26' '(adult)' '33 & 37' '25 or 28'
 '37, 67, 35, 27,  ? & 27' '21, 34,24 & 35' '30 & 32' '50 & 30' '17 & 35'
 'X' '"middle-age"' '13 or 18' '34 & 19' '33 & 26' '2 to 3 months'
 'MAKE LINE GREEN' '81' '"young"' '7 or 8' '78' '17 & 16' 'F' 'Both 11'
 '9 or 10' 'young' '36 & 23' '  ' 'A.M.' '?    &   14' '10 or 12'
 '31 or 33' 'M' '2½' '13 or 14']
151