In [1]:
#Pandas project

In [2]:
#First we import necesary libraries

In [5]:
import pandas as pd
import numpy as np

In [25]:
#Import the data using Pandas: Its a csv
#No encortraba el archivo, por lo que lo he pegado dentro de your code --> preguntar cómo se generan las rutas de los archivos.

df = pd.read_csv('GSAF5.csv', header=0, encoding = 'unicode_escape')

In [47]:
#Echo un vistazo rápido a las primeras filas del df
df.head(8)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989
5,2016.09.15.R,15-Sep-16,2016,Boat,AUSTRALIA,Western Australia,Bunbury,Fishing,Occupant: Ben Stratton,NaN,...,N,NaN,NaN,"West Australian, 9/15/2016",2016.09.15.R-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.15.R,2016.09.15.R,5988
6,2016.09.11,11-Sep-16,2016,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,male,M,...,N,15h15,3' to 4' shark,"News4Jax, 9/11/2016",2016.09.11-PonteVedra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.11,2016.09.11,5987
7,2016.09.07,07-Sep-16,2016,Unprovoked,USA,Hawaii,"Makaha, Oahu",Swimming,female,F,...,N,14h30,"Tiger shark, 10?","Hawaii News Now, 9/7/2016",2016.09.07-Oahu.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.07,2016.09.07,5986

In [34]:
#Vemos el tamaño y estructura del dataset con numpys
np.size(df)
np.shape(df)
np.sum(df)
np.mean(df)

Year              1925.204606
original order    2997.548899
dtype: float64

In [28]:
#Vemos que hay columnas con valores null, vamos a revisar en cuales y cuántos hay por columna
null_cols = df.isnull().sum()
null_cols[null_cols>0]

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
href formula                 1
href                         3
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [44]:
#Las columnas Unnamed: 22 y Unnamed: 23 no tienen casi info. Vamos a eliminar aqullas columnas con más de 4000 nulls
drop_cols = list(null_cols[null_cols > 4000].index)
#Reviso cuáles son
print(df.columns, drop_cols)
#Las elimino
df = df.drop(drop_cols, axis=1)

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object') ['Unnamed: 22', 'Unnamed: 23']

In [46]:
#Reviso que esté bien(con otro método)
df.isnull().sum()

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
pdf                          0
href formula                 1
href                         3
Case Number.1                0
Case Number.2                0
original order               0
dtype: int64

In [48]:
#Revisamos los tipos de datos
df.dtypes

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
Case Number.1             object
Case Number.2             object
original order             int64
dtype: object

In [53]:
#Cambio el tipo de dato de year a objeto y reviso
df['Year'] = df['Year'].astype('object')
#Intento cambiar el date pero da error 
#df['Date'] = df['Date'].astype('datetime')
df.dtypes

Case Number               object
Date                      object
Year                      object
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
Case Number.1             object
Case Number.2             object
original order             int64
dtype: object

In [56]:
#Cambio / por - en Date
df['Date'] = df['Date'].str.replace('/', '-')
df.Date

0                                               18-Sep-16
1                                               18-Sep-16
2                                               18-Sep-16
3                                               17-Sep-16
4                                               16-Sep-16
5                                               15-Sep-16
6                                               11-Sep-16
7                                               07-Sep-16
8                                               06-Sep-16
9                                               05-Sep-16
10                                              05-Sep-16
11                                              04-Sep-16
12                                              01-Sep-16
13                                              29-Aug-16
14                                              29-Aug-16
15                                              27-Aug-16
16                                              25-Aug-16
17                                              07-Aug-16
18                                              06-Aug-16
19                                              04-Aug-16
20                                              29-Jul-16
21                                              28-Jul-16
22                                              28-Jul-16
23                                              27-Jul-16
24                                              26-Jul-16
25                                              24-Jul-16
26                                              23-Jul-16
27                                              23-Jul-16
28                                              20-Jul-16
29                                              17-Jul-16
                              ...
5962                                         World War II
5963                                          Before 1905
5964                              A few years before 1938
5965                                              No date
5966                                          Early 1930s
5967                                          Before 1927
5968                                  Between 1918 & 1939
5969                                              No date
5970                                              No date
5971                                              No date
5972                                           1920 -1923
5973                                          Before 1921
5974                                          Before 1911
5975                                          Before 1921
5976                                          Before 1921
5977                                          Before 1917
5978                          Before          17-Jul-1916
5979    No date (3 days after preceding incident) & pr...
5980                          Before          19-Jul-1913
5981                                          Before 1911
5982                                           Circa 1862
5983                                          Before 1906
5984                                          Before 1906
5985                                          Before 1906
5986                                          Before 1906
5987                                          Before 1903
5988                                          Before 1903
5989                                            1900-1905
5990                                            1883-1889
5991                                            1845-1853
Name: Date, Length: 5992, dtype: object

In [57]:
#Voy a quitar duplicados y revisar cuántos he quitado
before = len(df)
data = df.drop_duplicates()
after = len(df)
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  0

In [68]:
# Reviso si'Case Number.1' y 'Case Number.2' son iguales
num_iguales = 0
for i in df.index:
    if df['Case Number.1'][i] == df['Case Number.2'][i]:
        num_iguales += 1
print(np.shape(df),num_iguales)

(5992, 22) 5981

In [ ]:
#Son prácticamente iguales, por lo que elimino una de ellas
df.drop(['Case Number.2'], axis=1, inplace = True)

In [74]:
#Lo reviso 
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,original order
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,5991
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,5990
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,5989