# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [70]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [82]:
#data = pd.read_csv('/Users/juanfernandez-dazadeflorez/Desktop/Ironhack/labs/data-labs/module-2/lab-intro-recommender-systems/data/customer_product_sales.csv')

In [72]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [78]:
#data_grouped = data.loc[:,['CustomerID',
#                            'ProductName',
#                            'Quantity']].groupby(['CustomerID','ProductName']).agg(['sum']).reset_index()
data_grouped = data.pivot_table(index=('CustomerID','ProductName'), 
                                   values = 'Quantity', 
                                   aggfunc = 'sum').reset_index()
data_grouped.head()

   CustomerID                    ProductName  Quantity
0          33               Apricots - Dried         1
1          33              Assorted Desserts         1
2          33        Bandage - Flexible Neon         1
3          33  Bar Mix - Pina Colada, 355 Ml         1
4          33         Beans - Kidney, Canned         1

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [132]:
data_pivot = data.pivot_table(index='ProductName',
                              columns = 'CustomerID', 
                              values = 'Quantity',aggfunc='sum').fillna(0)
data_pivot.head()

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Appetizer - Mini Egg Roll, Shrimp",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Appetizer - Mushroom Tart,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0
Appetizer - Sausage Rolls,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,25.0,25.0,25.0,0.0,25.0,0.0
Apricots - Dried,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."
To get the aggregate distance across all the preference spaces, we can use squareform and pdist from the Scipy library to create a matrix containing the Euclidean distances between all our users.

In [133]:
from scipy.spatial.distance import pdist, squareform

distances = pd.DataFrame(1/(1 + squareform(pdist(data_pivot.T, 'euclidean'))), 
                         index=data_pivot.columns, columns=data_pivot.columns)
distances.head()

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.077421,0.087047,0.081800,0.080634,0.082709,0.074573,0.083020,0.081503,0.080070,...,0.004811,0.004669,0.004412,0.005019,0.004312,0.004515,0.004583,0.004355,0.004167,0.004333
200,0.077421,1.000000,0.078448,0.076435,0.073693,0.075255,0.075956,0.076435,0.077674,0.076923,...,0.004824,0.004681,0.004431,0.005047,0.004311,0.004521,0.004614,0.004367,0.004166,0.004335
264,0.087047,0.078448,1.000000,0.080070,0.081800,0.080350,0.076923,0.080634,0.082100,0.078448,...,0.004822,0.004674,0.004416,0.005035,0.004322,0.004543,0.004595,0.004365,0.004179,0.004333
356,0.081800,0.076435,0.080070,1.000000,0.076435,0.078187,0.075025,0.082403,0.077171,0.075956,...,0.004816,0.004671,0.004416,0.005038,0.004310,0.004526,0.004578,0.004365,0.004175,0.004339
412,0.080634,0.073693,0.081800,0.076435,1.000000,0.078711,0.075025,0.082403,0.078187,0.078448,...,0.004810,0.004702,0.004414,0.005034,0.004318,0.004530,0.004578,0.004367,0.004177,0.004349

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [134]:
top5 = list(pd.DataFrame(distances[33].sort_values(ascending=False).head(6))[1:5].reset_index()['CustomerID'])
top5

[264, 3535, 3317, 2503]

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [135]:
similar_customers = data_grouped[data_grouped['CustomerID'].isin(top5)]
similar_customers.head()

     CustomerID                 ProductName  Quantity
131         264           Apricots - Halves         1
132         264              Apricots Fresh         1
133         264  Bacardi Breezer - Tropical         1
134         264               Bagel - Plain         1
135         264             Banana - Leaves         1

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [150]:
similar_prods = similar_customers.pivot_table(index = 'ProductName',
                                              values = 'Quantity',
                                              aggfunc = 'sum').reset_index().sort_values('Quantity',ascending=False)
similar_prods.head()

                       ProductName  Quantity
114          Pepper - Black, Whole         3
144   Soup - Campbells Bean Medley         3
29               Butter - Unsalted         3
169  Wine - Blue Nun Qualitatswein         2
98          Nut - Chestnuts, Whole         2

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [112]:
# Step 1 -- Merge the ranked products data frame with the customer product matrix on the ProductName field.
merged_data = pd.merge(data_pivot,similar_prods, how = 'left', on = 'ProductName').fillna(0)

# Step 2 -- Filter for records where the chosen customer has not purchased the product
not_purchased = merged_data[[33,'ProductName','Qty']]

# Step 3 -- Show top5
top5_not_purchased = not_purchased[not_purchased[33]==0].sort_values('Qty',ascending = False).drop(33, axis = 1).head()
top5_not_purchased

                      ProductName  Qty
73              Butter - Unsalted  3.0
341  Soup - Campbells Bean Medley  3.0
322           Sausage - Breakfast  2.0
242        Nut - Chestnuts, Whole  2.0
234      Mushrooms - Black, Dried  2.0

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [203]:
# Step 1 -- Create an empty dictionary that will hold the recommendations for all customers
recommendations_all_clients = {}

# Step 2 -- Create a list of unique CustomerIDs to iterate over.
customers = list(data['CustomerID'].unique())

In [204]:
# Step 3 -- Iteration to include all the customers

for customer in customers:
    
    # First, a list of the top5 customer for each customer
    top5 = list(pd.DataFrame(distances[customer].sort_values(ascending=False).head())[1:5].reset_index()['CustomerID'])
    
    # Second, quantities of each similar customer
    
    similar_customers = data_grouped[data_grouped['CustomerID'].isin(top5)]
    
    # Third, selecting the similar products
    
    similar_prods = similar_customers.pivot_table(index = 'ProductName',
                                              values = 'Quantity',
                                              aggfunc = 'sum').reset_index().sort_values('Quantity',ascending=False)
    
    similar_prods.columns = ['ProductName','Qty']
    # Fourth, merging the data and getting the recommendation for each client
    
    merged_data = pd.merge(data_pivot,similar_prods, how = 'left', on = 'ProductName').fillna(0)

    not_purchased = merged_data[[customer,'ProductName','Qty']]

    top5_not_purchased = not_purchased[not_purchased[customer]==0].sort_values('Qty',ascending = False).drop(customer, axis = 1).head()
    
    # Last but not least, append all info to the dictionary
    
    top5_not_purchased = top5_not_purchased['ProductName'].tolist()
    top5_not_purchased = ','.join(map(str,top5_not_purchased))
    recommendations_all_clients[customer] = top5_not_purchased;

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [205]:
recommendations_all_clients_copy = recommendations_all_clients

In [212]:
recommendations_all_clients = recommendations_all_clients_copy

In [213]:
lista = []
for (customer,recommendations_all_clients) in recommendations_all_clients.items():
    lista.append((customer,recommendations_all_clients.split(',')[0],
      recommendations_all_clients.split(',')[1],
      recommendations_all_clients.split(',')[2],
      recommendations_all_clients.split(',')[3],
      recommendations_all_clients.split(',')[4]))

In [214]:
recommendations = pd.DataFrame(lista, columns = ['CustomerID','top1','top2','top3','top4','top5'] )
recommendations.head()

,CustomerID,top1,top2,top3,top4,top5
0,61288,Chicken - Soup Base,Dc Hikiage Hira Huba,Squid U5 - Thailand,Pasta - Orecchiette,Flavouring - Orange
1,77352,Tuna - Salad Premix,Chicken - Soup Base,Wine - Valpolicella Masi,Tahini Paste,Isomalt
2,40094,Bread - Italian Corn Meal Poly,Grouper - Fresh,Sherry - Dry,Chocolate - Feathers,Wine - Vidal Icewine Magnotta
3,23548,Squid - Tubes / Tenticles 10/20,Flavouring - Orange,Bread - Raisin Walnut Oval,Banana Turning,Sprouts - Baby Pea Tendrils
4,78981,Lettuce - Frisee,Beef - Inside Round,Pop Shoppe Cream Soda,Sausage - Liver,Loquat

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [215]:
from scipy.spatial.distance import pdist, squareform

distances = pd.DataFrame(1/(1 + squareform(pdist(data_pivot.T, 'correlation'))), 
                         index=data_pivot.columns, columns=data_pivot.columns)

# Step 1 -- Create an empty dictionary that will hold the recommendations for all customers
recommendations_all_clients = {}

# Step 2 -- Create a list of unique CustomerIDs to iterate over.
customers = list(data['CustomerID'].unique())

# Step 3 -- Iteration to include all the customers

for customer in customers:
    
    # First, a list of the top5 customer for each customer
    top5 = list(pd.DataFrame(distances[customer].sort_values(ascending=False).head())[1:5].reset_index()['CustomerID'])
    
    # Second, quantities of each similar customer
    
    similar_customers = data_grouped[data_grouped['CustomerID'].isin(top5)]
    
    # Third, selecting the similar products
    
    similar_prods = similar_customers.pivot_table(index = 'ProductName',
                                              values = 'Quantity',
                                              aggfunc = 'sum').reset_index().sort_values('Quantity',ascending=False)
    
    similar_prods.columns = ['ProductName','Qty']
    # Fourth, merging the data and getting the recommendation for each client
    
    merged_data = pd.merge(data_pivot,similar_prods, how = 'left', on = 'ProductName').fillna(0)

    not_purchased = merged_data[[customer,'ProductName','Qty']]

    top5_not_purchased = not_purchased[not_purchased[customer]==0].sort_values('Qty',ascending = False).drop(customer, axis = 1).head()
    
    # Last but not least, append all info to the dictionary
    
    top5_not_purchased = top5_not_purchased['ProductName'].tolist()
    top5_not_purchased = ','.join(map(str,top5_not_purchased))
    recommendations_all_clients[customer] = top5_not_purchased;
    
lista = []
for (customer,recommendations_all_clients) in recommendations_all_clients.items():
    lista.append((customer,recommendations_all_clients.split(',')[0],
      recommendations_all_clients.split(',')[1],
      recommendations_all_clients.split(',')[2],
      recommendations_all_clients.split(',')[3],
      recommendations_all_clients.split(',')[4]))

recommendations = pd.DataFrame(lista, columns = ['CustomerID','top1','top2','top3','top4','top5'] )
recommendations.head()

,CustomerID,top1,top2,top3,top4,top5
0,61288,Soup - Campbells,Cream Of,Ecolab - Solid Fusion,Juice - Apple Cider,Tofu - Firm
1,77352,Grenadine,Mangoes,Lettuce - Frisee,Fondant - Icing,Towels - Paper / Kraft
2,40094,Bread - Roll,Soft White Round,Truffle Cups - Brown,Juice - V8 Splash,Anchovy Paste - 56 G Tube
3,23548,Olives - Stuffed,Wine - Charddonnay Errazuriz,Assorted Desserts,Juice - Orange,Soup - Campbells Tomato Ravioli
4,78981,Tart Shells - Sweet,4,Chocolate - Dark,Appetizer - Mini Egg Roll,Shrimp

In [216]:
##### City block ########

from scipy.spatial.distance import pdist, squareform

distances = pd.DataFrame(1/(1 + squareform(pdist(data_pivot.T, 'cityblock'))), 
                         index=data_pivot.columns, columns=data_pivot.columns)

recommendations_all_clients = {}

# Step 2 -- Create a list of unique CustomerIDs to iterate over.
customers = list(data['CustomerID'].unique())

# Step 3 -- Iteration to include all the customers

for customer in customers:
    
    # First, a list of the top5 customer for each customer
    top5 = list(pd.DataFrame(distances[customer].sort_values(ascending=False).head())[1:5].reset_index()['CustomerID'])
    
    # Second, quantities of each similar customer
    
    similar_customers = data_grouped[data_grouped['CustomerID'].isin(top5)]
    
    # Third, selecting the similar products
    
    similar_prods = similar_customers.pivot_table(index = 'ProductName',
                                              values = 'Quantity',
                                              aggfunc = 'sum').reset_index().sort_values('Quantity',ascending=False)
    
    similar_prods.columns = ['ProductName','Qty']
    # Fourth, merging the data and getting the recommendation for each client
    
    merged_data = pd.merge(data_pivot,similar_prods, how = 'left', on = 'ProductName').fillna(0)

    not_purchased = merged_data[[customer,'ProductName','Qty']]

    top5_not_purchased = not_purchased[not_purchased[customer]==0].sort_values('Qty',ascending = False).drop(customer, axis = 1).head()
    
    # Last but not least, append all info to the dictionary
    
    top5_not_purchased = top5_not_purchased['ProductName'].tolist()
    top5_not_purchased = ','.join(map(str,top5_not_purchased))
    recommendations_all_clients[customer] = top5_not_purchased;
    
lista = []
for (customer,recommendations_all_clients) in recommendations_all_clients.items():
    lista.append((customer,recommendations_all_clients.split(',')[0],
      recommendations_all_clients.split(',')[1],
      recommendations_all_clients.split(',')[2],
      recommendations_all_clients.split(',')[3],
      recommendations_all_clients.split(',')[4]))

recommendations = pd.DataFrame(lista, columns = ['CustomerID','top1','top2','top3','top4','top5'] )
recommendations.head()

,CustomerID,top1,top2,top3,top4,top5
0,61288,Soup - Campbells Bean Medley,Bay Leaf,Butter - Unsalted,Sausage - Liver,Knife Plastic - White
1,77352,Veal - Sweetbread,Juice - Lime,Tia Maria,Spinach - Baby,Pork - Bacon
2,40094,Butter - Unsalted,Wine - Ej Gallo Sierra Valley,Knife Plastic - White,Lamb - Ground,Pork - Bacon
3,23548,Cheese - Boursin,Garlic / Herbs,Ice Cream Bar - Hageen Daz To,Soup - Campbells Tomato Ravioli,Juice - Lime
4,78981,Knife Plastic - White,Tia Maria,Veal - Sweetbread,Muffin - Carrot Individual Wrap,Butter - Unsalted

In [219]:
##### COSINE ########

from scipy.spatial.distance import pdist, squareform

distances = pd.DataFrame(1/(1 + squareform(pdist(data_pivot.T, 'cosine'))), 
                         index=data_pivot.columns, columns=data_pivot.columns)

recommendations_all_clients = {}

# Step 2 -- Create a list of unique CustomerIDs to iterate over.
customers = list(data['CustomerID'].unique())

# Step 3 -- Iteration to include all the customers

for customer in customers:
    
    # First, a list of the top5 customer for each customer
    top5 = list(pd.DataFrame(distances[customer].sort_values(ascending=False).head())[1:5].reset_index()['CustomerID'])
    
    # Second, quantities of each similar customer
    
    similar_customers = data_grouped[data_grouped['CustomerID'].isin(top5)]
    
    # Third, selecting the similar products
    
    similar_prods = similar_customers.pivot_table(index = 'ProductName',
                                              values = 'Quantity',
                                              aggfunc = 'sum').reset_index().sort_values('Quantity',ascending=False)
    
    similar_prods.columns = ['ProductName','Qty']
    # Fourth, merging the data and getting the recommendation for each client
    
    merged_data = pd.merge(data_pivot,similar_prods, how = 'left', on = 'ProductName').fillna(0)

    not_purchased = merged_data[[customer,'ProductName','Qty']]

    top5_not_purchased = not_purchased[not_purchased[customer]==0].sort_values('Qty',ascending = False).drop(customer, axis = 1).head()
    
    # Last but not least, append all info to the dictionary
    
    top5_not_purchased = top5_not_purchased['ProductName'].tolist()
    top5_not_purchased = ','.join(map(str,top5_not_purchased))
    recommendations_all_clients[customer] = top5_not_purchased;
    
lista = []
for (customer,recommendations_all_clients) in recommendations_all_clients.items():
    lista.append((customer,recommendations_all_clients.split(',')[0],
      recommendations_all_clients.split(',')[1],
      recommendations_all_clients.split(',')[2],
      recommendations_all_clients.split(',')[3],
      recommendations_all_clients.split(',')[4]))

recommendations = pd.DataFrame(lista, columns = ['CustomerID','top1','top2','top3','top4','top5'] )
recommendations.head()

,CustomerID,top1,top2,top3,top4,top5
0,61288,Soup - Campbells,Cream Of,Ecolab - Solid Fusion,Juice - Apple Cider,Tofu - Firm
1,77352,Fondant - Icing,Lettuce - Frisee,Oregano - Dry,Rubbed,Wine - Redchard Merritt
2,40094,Bread - Roll,Soft White Round,Truffle Cups - Brown,Juice - V8 Splash,Anchovy Paste - 56 G Tube
3,23548,Wine - Charddonnay Errazuriz,Assorted Desserts,Juice - Orange,Beef - Texas Style Burger,Salmon - Sockeye Raw
4,78981,Tart Shells - Sweet,4,Chocolate - Dark,Appetizer - Mini Egg Roll,Shrimp