## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [80]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [81]:
# Your code here
sample_list_1=random.sample(range(1,100),80)
print(sample_list_1)

[63, 15, 5, 43, 60, 67, 31, 88, 77, 53, 49, 50, 71, 74, 78, 66, 32, 34, 17, 21, 46, 56, 87, 26, 90, 73, 19, 12, 10, 81, 79, 65, 36, 82, 52, 22, 94, 6, 29, 14, 9, 86, 4, 95, 40, 85, 39, 47, 2, 92, 3, 59, 83, 37, 62, 7, 41, 75, 24, 38, 55, 35, 18, 42, 30, 80, 44, 98, 69, 84, 57, 61, 51, 89, 96, 27, 97, 68, 64, 58]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [82]:
# Your code here
set1=set(sample_list_1)
print(len(sample_list_1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [83]:
# Your code here
sample_list_2=[random.randint(1,100) for x in range(80)]
print(sample_list_2)

[78, 47, 50, 56, 45, 45, 64, 56, 41, 65, 60, 21, 57, 85, 24, 17, 90, 17, 94, 18, 97, 78, 88, 63, 25, 57, 32, 20, 83, 72, 41, 43, 81, 87, 8, 16, 53, 56, 51, 63, 46, 88, 46, 50, 60, 100, 9, 54, 18, 76, 75, 18, 77, 70, 73, 17, 25, 97, 47, 76, 54, 57, 64, 40, 44, 71, 8, 50, 32, 19, 18, 48, 65, 2, 30, 100, 70, 23, 72, 7]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [84]:
# Your code here
set2=set(sample_list_2)

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [85]:
# Your code here
set3=set1.difference(set2)

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [86]:
# Your code here
set4=set2.difference(set1)

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [87]:
# Your code here
set5=set.intersection(set2,set1)
print(set5)

{2, 7, 9, 17, 18, 19, 21, 24, 30, 32, 40, 41, 43, 44, 46, 47, 50, 51, 53, 56, 57, 60, 63, 64, 65, 71, 73, 75, 77, 78, 81, 83, 85, 87, 88, 90, 94, 97}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [88]:
# Your code here
test=len(set1)>len(set2)>len(set3)>len(set4)>len(set5)
print(len(set1),len(set2),len(set3),len(set4),len(set5))
print(test)

80 50 42 12 38
False

#### Create an empty set called `set6`.

In [89]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [90]:
# Your code here
print(set3)
print(set5)
set6.update(set3)
set6.update(set5)

{3, 4, 5, 6, 10, 12, 14, 15, 22, 26, 27, 29, 31, 34, 35, 36, 37, 38, 39, 42, 49, 52, 55, 58, 59, 61, 62, 66, 67, 68, 69, 74, 79, 80, 82, 84, 86, 89, 92, 95, 96, 98}
{2, 7, 9, 17, 18, 19, 21, 24, 30, 32, 40, 41, 43, 44, 46, 47, 50, 51, 53, 56, 57, 60, 63, 64, 65, 71, 73, 75, 77, 78, 81, 83, 85, 87, 88, 90, 94, 97}

#### Check if `set1` and `set6` are equal.

In [91]:
# Your code herset
diferencia=set.difference(set1,set6)
if len(diferencia)==0:
    print("Los dos conjuntos son iguales")

Los dos conjuntos son iguales

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [95]:
# Your code here

if set2.issubset(set1):
    print("set2 es un subconjunto set1")
else:
    print("set2 no es un subconjunto de set1")
    
if set3.issubset(set1):
    print("set3 es un subconjunto set1")
else:
    print("set3 no es un subconjunto de set1")

set2 no es un subconjunto de set1
set3 es un subconjunto set1

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
# Your code here

#### Using the `pop` method, remove the first element from `set1`.

In [ ]:
# Your code here

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here