## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [6]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [7]:
#first is necesary to call random library
sample_list_1 = random.sample(range(100),80)
print(sample_list_1)

[20, 17, 63, 16, 19, 2, 62, 53, 42, 99, 11, 64, 15, 52, 68, 90, 74, 93, 86, 8, 1, 61, 48, 10, 22, 70, 65, 81, 44, 38, 30, 80, 75, 95, 39, 12, 59, 88, 26, 72, 67, 29, 49, 83, 31, 6, 9, 94, 96, 56, 3, 82, 92, 41, 91, 97, 4, 45, 85, 35, 32, 78, 58, 50, 21, 5, 0, 98, 24, 37, 54, 25, 18, 7, 40, 87, 13, 51, 46, 43]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [8]:
# This is the formula to convert a random list to a set

set1 = set(sample_list_1)
print(set1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 29, 30, 31, 32, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 56, 58, 59, 61, 62, 63, 64, 65, 67, 68, 70, 72, 74, 75, 78, 80, 81, 82, 83, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [9]:
# Your code here

list_2 = []
for number in range(79):
    list_2.append(random.randint(0,101))

print(list_2)

[9, 65, 93, 40, 0, 64, 50, 8, 44, 30, 37, 67, 95, 48, 12, 30, 68, 5, 93, 5, 4, 6, 101, 95, 27, 62, 29, 93, 73, 61, 22, 10, 80, 81, 43, 84, 82, 100, 30, 81, 27, 15, 67, 9, 66, 39, 71, 70, 93, 50, 56, 83, 92, 66, 46, 101, 1, 24, 37, 4, 11, 53, 46, 74, 33, 9, 24, 63, 62, 83, 84, 90, 87, 68, 10, 27, 12, 16, 95]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [10]:
# Your code here
set2 = set(list_2)
print(set2)

{0, 1, 4, 5, 6, 8, 9, 10, 11, 12, 15, 16, 22, 24, 27, 29, 30, 33, 37, 39, 40, 43, 44, 46, 48, 50, 53, 56, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 73, 74, 80, 81, 82, 83, 84, 87, 90, 92, 93, 95, 100, 101}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [11]:
set3 = set1 - set2
print(set3)

{2, 3, 7, 13, 17, 18, 19, 20, 21, 25, 26, 31, 32, 35, 38, 41, 42, 45, 49, 51, 52, 54, 58, 59, 72, 75, 78, 85, 86, 88, 91, 94, 96, 97, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [12]:

set4 = set2 - set1
print(set4)

{33, 66, 100, 101, 71, 73, 84, 27}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [13]:
#numbers that are in both sets
set5 = set1.intersection(set2)

print(set5)

{0, 1, 4, 5, 6, 8, 9, 10, 11, 12, 15, 16, 22, 24, 29, 30, 37, 39, 40, 43, 44, 46, 48, 50, 53, 56, 61, 62, 63, 64, 65, 67, 68, 70, 74, 80, 81, 82, 83, 87, 90, 92, 93, 95}

In [14]:
print("\n set 1:",set1) #Random numbers1
print("\n set 2:",set2) #Random numbers2
print("\n set 3:",set3) #present in set1 but not in set2
print("\n set 4:",set4) #present in set2 but not in set1
print("\n set 5:",set5) #present in both sets

 set 1: {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 29, 30, 31, 32, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 56, 58, 59, 61, 62, 63, 64, 65, 67, 68, 70, 72, 74, 75, 78, 80, 81, 82, 83, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

 set 2: {0, 1, 4, 5, 6, 8, 9, 10, 11, 12, 15, 16, 22, 24, 27, 29, 30, 33, 37, 39, 40, 43, 44, 46, 48, 50, 53, 56, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 73, 74, 80, 81, 82, 83, 84, 87, 90, 92, 93, 95, 100, 101}

 set 3: {2, 3, 7, 13, 17, 18, 19, 20, 21, 25, 26, 31, 32, 35, 38, 41, 42, 45, 49, 51, 52, 54, 58, 59, 72, 75, 78, 85, 86, 88, 91, 94, 96, 97, 98, 99}

 set 4: {33, 66, 100, 101, 71, 73, 84, 27}

 set 5: {0, 1, 4, 5, 6, 8, 9, 10, 11, 12, 15, 16, 22, 24, 29, 30, 37, 39, 40, 43, 44, 46, 48, 50, 53, 56, 61, 62, 63, 64, 65, 67, 68, 70, 74, 80, 81, 82, 83, 87, 90, 92, 93, 95}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [15]:
len(set5) == len(set1) - len (set3)
len(set5) == len(set2) - len (set4)

True

In [16]:
len(set2) + len(set3) == len(set1) + len(set4) == len(set3) + len(set4) +len(set5)
len(set1) == len(set3) + len(set5)
len(set2) == len(set4) + len(set5)

True

#### Create an empty set called `set6`.

In [17]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [18]:
# Your code here
set6.update(set3, set5)

print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 29, 30, 31, 32, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 56, 58, 59, 61, 62, 63, 64, 65, 67, 68, 70, 72, 74, 75, 78, 80, 81, 82, 83, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [19]:
# Your code here
set6 == set1

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [20]:
# Your code here
print(set2.issubset(set1)) #set2 is a subset of set1
print(set3.issubset(set1)) #set3 is a subset of set1

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [21]:
# Your code here
print(set3.union(set4, set5))
print(set1.union(set2))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 29, 30, 31, 32, 33, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 56, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 74, 75, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 29, 30, 31, 32, 33, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 56, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 74, 75, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101}

#### Using the `pop` method, remove the first element from `set1`.

In [23]:
# Your code here
set1.pop()
print(set1)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 29, 30, 31, 32, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 56, 58, 59, 61, 62, 63, 64, 65, 67, 68, 70, 72, 74, 75, 78, 80, 81, 82, 83, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [29]:
# Your code here
list_to_remove = (1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99)
set1 = set1 - set(list_to_remove)

print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 15, 16, 17, 18, 20, 22, 24, 25, 26, 30, 32, 35, 37, 38, 40, 42, 43, 44, 45, 46, 48, 50, 52, 53, 54, 56, 58, 62, 63, 64, 65, 67, 68, 70, 72, 74, 75, 78, 80, 82, 83, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98}