## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [68]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [131]:
# Your code here

sample_list_1 = [(random.randrange(101)) for i in range(80)]

print(sample_list_1)

print(len(sample_list_1))

print(max(sample_list_1))
print(min(sample_list_1))

[98, 46, 63, 64, 23, 99, 74, 56, 40, 14, 29, 77, 99, 71, 14, 96, 49, 17, 81, 6, 83, 83, 32, 42, 88, 70, 86, 78, 35, 69, 62, 42, 29, 62, 67, 13, 25, 74, 55, 99, 62, 58, 0, 84, 1, 78, 83, 86, 49, 24, 43, 10, 46, 87, 69, 59, 35, 6, 88, 58, 16, 64, 72, 57, 16, 17, 2, 13, 29, 32, 47, 23, 12, 12, 68, 87, 30, 11, 73, 61]
80
99
0

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [132]:
# Your code here
set1 = set(sample_list_1)
len(set1)

52

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [133]:
# Your code here
sample_list_2 = [(random.randint(0,101)) for i in range(80)]
print(sample_list_2)
len(sample_list_2)

[78, 81, 99, 52, 4, 77, 29, 73, 75, 24, 10, 12, 48, 33, 99, 34, 93, 27, 75, 75, 45, 76, 44, 95, 54, 26, 99, 18, 33, 45, 98, 26, 14, 61, 19, 99, 63, 26, 74, 80, 88, 71, 35, 39, 38, 42, 99, 96, 84, 4, 5, 78, 85, 99, 89, 31, 92, 91, 89, 18, 60, 52, 100, 88, 6, 27, 23, 64, 22, 18, 49, 60, 45, 77, 56, 5, 42, 87, 56, 70]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [134]:
# Your code here
set2 = set(sample_list_2)
len(set2)

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [156]:
set3= [x for x in set1 if x not in set2]
print(set3)

set3_3 = set1 - set2
print(set3_3)

[0, 1, 2, 11, 13, 16, 17, 25, 30, 32, 40, 43, 46, 47, 55, 57, 58, 59, 62, 67, 68, 69, 72, 83, 86]
{0, 1, 2, 11, 13, 16, 17, 25, 30, 32, 40, 43, 46, 47, 55, 57, 58, 59, 62, 67, 68, 69, 72, 83, 86}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [158]:
# Your code here
set4= [x for x in set2 if x not in set1]
print(set4)
print(len(set4))

set4_4 = set2 - set1
print(set4_4)

[4, 5, 18, 19, 22, 26, 27, 31, 33, 34, 38, 39, 44, 45, 48, 52, 54, 60, 75, 76, 80, 85, 89, 91, 92, 93, 95, 100]
28
{4, 5, 18, 19, 22, 26, 27, 31, 33, 34, 38, 39, 44, 45, 48, 52, 54, 60, 75, 76, 80, 85, 89, 91, 92, 93, 95, 100}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [113]:

#ejemplo
a = [1, 3, 4, 5, 9, 6, 7, 8]
b = [1, 7, 0, 9]
same_values = set(a) & set(b)
print (same_values)

{1, 9, 7}

In [137]:
# Your code here
set5= [x for x in set1 if x in set2]
print(set5)
print("len.",len(set5))

print(" ")

set_5 = set1 & set2
print(set_5)
print("len.",len(set_5))

[6, 10, 12, 14, 23, 24, 29, 35, 42, 49, 56, 61, 63, 64, 70, 71, 73, 74, 77, 78, 81, 84, 87, 88, 96, 98, 99]
len. 27

{6, 10, 12, 14, 23, 24, 29, 35, 42, 49, 56, 61, 63, 64, 70, 71, 73, 74, 77, 78, 81, 84, 87, 88, 96, 98, 99}
len. 27

In [154]:
set_5 = set1.intersection(set2)
print(set5)

[6, 10, 12, 14, 23, 24, 29, 35, 42, 49, 56, 61, 63, 64, 70, 71, 73, 74, 77, 78, 81, 84, 87, 88, 96, 98, 99]

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [142]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

len_set1 =len(set3) + len(set5)
len_set2 =len(set4) + len(set5)

print("La suma de la longitud del set3 y set4,",len_set1,"es igual a la longitud del set1,", len(set1))
print("La suma de la longitud del set4 y set5,",len_set2,"es igual a la longitud del set2,", len(set2))

52
55
25
28
27
La suma de la longitud del set3 y set4, 52 es igual a la longitud del set1, 52
La suma de la longitud del set4 y set5, 55 es igual a la longitud del set2, 55

#### Create an empty set called `set6`.

In [143]:
# Your code here
set6 = set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [169]:
# Your code here

set6.update(set1)
set6.update(set5)
print("set6 updated:", set6)

set6 updated: {0, 1, 2, 6, 10, 11, 12, 13, 14, 16, 17, 23, 24, 25, 29, 30, 32, 35, 40, 42, 43, 46, 47, 49, 55, 56, 57, 58, 59, 61, 62, 63, 64, 67, 68, 69, 70, 71, 72, 73, 74, 77, 78, 81, 83, 84, 86, 87, 88, 96, 98, 99}

#### Check if `set1` and `set6` are equal.

In [171]:
# Your code here
print(len(set6))

diference = set1^set6
print(diference)
# no hay diferencia, por lo que son iguales, los sets estan ordenados ascendiendo el numero.

52
set()

In [174]:
print(set1==set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [183]:
# Your code here
set1.issubset(set2)
# es igual que si se hace set<=set2
# Al salir falso es porque no lo contiene

False

In [182]:
set1.issubset(set3)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [194]:
# Your code here

print(set3)
set3.union(set4,set5)
#no me deja unir set3 

# set3|set4|set5
#print("set 3, 4 y 5 unidos:", set3_4_5)
#print(len(set3_4_5))
#print("")

[0, 1, 2, 11, 13, 16, 17, 25, 30, 32, 40, 43, 46, 47, 55, 57, 58, 59, 62, 67, 68, 69, 72, 83, 86]

AttributeError: 'list' object has no attribute 'union'

In [196]:
set_union = set4.union(set3)
print(set_union)

AttributeError: 'list' object has no attribute 'union'

In [185]:
set1_2 = set1.union(set2)
print("set 1 y 2 unidos:", set1_2)
print(len(set1_2))

set 1 y 2 unidos: {0, 1, 2, 4, 5, 6, 10, 11, 12, 13, 14, 16, 17, 18, 19, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 80, 81, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 95, 96, 98, 99, 100}
80

#### Using the `pop` method, remove the first element from `set1`.

In [200]:
# Your code here
set.pop()
#ha eliminado el 0
print(set1)

{1, 2, 6, 10, 11, 12, 13, 14, 16, 17, 23, 24, 25, 29, 30, 32, 35, 40, 42, 43, 46, 47, 49, 55, 56, 57, 58, 59, 61, 62, 63, 64, 67, 68, 69, 70, 71, 72, 73, 74, 77, 78, 81, 83, 84, 86, 87, 88, 96, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [206]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
remove_list = set(list_to_remove)
print(remove_list)
print(set1)


#no entiendo por que no funciona
set1_remove = set1.remove(remove_list)

print(set1_remove)

{1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99}
{1, 2, 6, 10, 11, 12, 13, 14, 16, 17, 23, 24, 25, 29, 30, 32, 35, 40, 42, 43, 46, 47, 49, 55, 56, 57, 58, 59, 61, 62, 63, 64, 67, 68, 69, 70, 71, 72, 73, 74, 77, 78, 81, 83, 84, 86, 87, 88, 96, 98, 99}

KeyError: {1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99}

In [209]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
remove_list = set(list_to_remove)
print(remove_list)
print(set1)


#no entiendo por que no funciona
set1_remove = set1.discard(remove_list)
print(set1_remove)

{1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99}
{1, 2, 6, 10, 11, 12, 13, 14, 16, 17, 23, 24, 25, 29, 30, 32, 35, 40, 42, 43, 46, 47, 49, 55, 56, 57, 58, 59, 61, 62, 63, 64, 67, 68, 69, 70, 71, 72, 73, 74, 77, 78, 81, 83, 84, 86, 87, 88, 96, 98, 99}
None