## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
random.seed()
sample_list_1 = []
sample = 0 
repeated = 0
sample_list_1.append(random.randint(0,100))
while len(sample_list_1) < 80:
    sample_list_1.append(random.randint(0,100))
    repeated = sample_list_1[-1]
    for sample in sample_list_1[0:-2]:
        if repeated == sample:
            sample_list_1.pop() #eliminate last element (repeated element)
print("longitud: ",len(sample_list_1))
print(sample_list_1)            
#print(random.sample(sample_list_1,20)) this function doesn't work since repeat samples

longitud:  80
[73, 55, 69, 26, 35, 2, 88, 98, 24, 12, 0, 16, 61, 84, 13, 10, 72, 45, 76, 66, 78, 91, 92, 96, 15, 83, 38, 59, 23, 65, 77, 63, 25, 68, 43, 18, 44, 21, 81, 95, 3, 17, 22, 4, 89, 82, 79, 100, 46, 20, 70, 53, 8, 7, 29, 85, 36, 19, 60, 90, 57, 56, 33, 50, 42, 34, 31, 49, 94, 39, 11, 58, 67, 51, 74, 62, 71, 5, 6, 41]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2 = []

for i in range(80):
    sample_list_2.append(random.randint(0,100))
print("lenght:",len(sample_list_2))
print(sample_list_2)

lenght: 80
[38, 60, 13, 91, 57, 83, 27, 97, 59, 6, 34, 96, 94, 14, 89, 0, 74, 91, 52, 64, 21, 38, 18, 52, 96, 0, 39, 4, 28, 40, 77, 82, 30, 57, 30, 43, 47, 29, 17, 62, 76, 55, 36, 67, 32, 51, 7, 51, 47, 89, 20, 74, 100, 15, 78, 65, 86, 6, 65, 55, 14, 2, 29, 93, 82, 25, 18, 38, 63, 87, 35, 60, 97, 59, 7, 60, 72, 50, 7, 88]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
print(sample_list_2)
set2 = set(sample_list_2)
len(set2)
print(set2)
#set function has sortened and eliminated repeated elements in the list

[38, 60, 13, 91, 57, 83, 27, 97, 59, 6, 34, 96, 94, 14, 89, 0, 74, 91, 52, 64, 21, 38, 18, 52, 96, 0, 39, 4, 28, 40, 77, 82, 30, 57, 30, 43, 47, 29, 17, 62, 76, 55, 36, 67, 32, 51, 7, 51, 47, 89, 20, 74, 100, 15, 78, 65, 86, 6, 65, 55, 14, 2, 29, 93, 82, 25, 18, 38, 63, 87, 35, 60, 97, 59, 7, 60, 72, 50, 7, 88]
{0, 2, 4, 6, 7, 13, 14, 15, 17, 18, 20, 21, 25, 27, 28, 29, 30, 32, 34, 35, 36, 38, 39, 40, 43, 47, 50, 51, 52, 55, 57, 59, 60, 62, 63, 64, 65, 67, 72, 74, 76, 77, 78, 82, 83, 86, 87, 88, 89, 91, 93, 94, 96, 97, 100}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3 = set1.symmetric_difference(set2)
print(set3)

{3, 5, 8, 10, 11, 12, 14, 16, 19, 22, 23, 24, 26, 27, 28, 30, 31, 32, 33, 40, 41, 42, 44, 45, 46, 47, 49, 52, 53, 56, 58, 61, 64, 66, 68, 69, 70, 71, 73, 79, 81, 84, 85, 86, 87, 90, 92, 93, 95, 97, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4 = set2.symmetric_difference(set1)
print(set4)

{3, 5, 8, 10, 11, 12, 14, 16, 19, 22, 23, 24, 26, 27, 28, 30, 31, 32, 33, 40, 41, 42, 44, 45, 46, 47, 49, 52, 53, 56, 58, 61, 64, 66, 68, 69, 70, 71, 73, 79, 81, 84, 85, 86, 87, 90, 92, 93, 95, 97, 98}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{0, 2, 4, 6, 7, 13, 15, 17, 18, 20, 21, 25, 29, 34, 35, 36, 38, 39, 43, 50, 51, 55, 57, 59, 60, 62, 63, 65, 67, 72, 74, 76, 77, 78, 82, 83, 88, 89, 91, 94, 96, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here
if len(set1) > len(set2):
    print("That makes sense")
else:
    print("There's an error")
print("lenght of set3:",len(set3),"lenght of set4:",len(set4),"lenght of set5:",len(set5))

That makes sense
lenght of set3: 51 lenght of set4: 51 lenght of set5: 42

#### Create an empty set called `set6`.

In [13]:
# Your code here
set6 = set() #I DON'T KNOW WHY IT DOESN'T WORK

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [14]:
# Your code here
set6.add('33')
print(set6)

{'33'}

#### Check if `set1` and `set6` are equal.

In [15]:
# Your code here
set1 == set6

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [16]:
# Your code here
set2.issubset(set1)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [17]:
# Your code here
newSet = set(set3)
newSet.union(set4)
newSet.union(set5)
newSet.union(set1)
newSet.union(set2)
newSet.issubset(set1) and newSet.issubset(set2)

False

#### Using the `pop` method, remove the first element from `set1`.

In [21]:
# Your code here
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [29]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

setTemporal = set()
print(set1)

for element in set1:
    if element in list_to_remove:
        list_to_remove.remove(element)
print(list_to_remove)

{3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 29, 31, 33, 34, 35, 36, 38, 39, 41, 42, 43, 44, 45, 46, 49, 50, 51, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 81, 82, 83, 84, 85, 88, 89, 90, 91, 92, 94, 95, 96, 98, 100}
[1, 9, 99]