## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [13]:
# Your code here
sample_list_1 = random.sample(range(100), k=80)
print(sample_list_1)

[30, 64, 81, 47, 65, 12, 78, 98, 56, 35, 25, 4, 29, 0, 85, 66, 55, 62, 54, 67, 33, 17, 73, 58, 72, 92, 99, 88, 91, 6, 13, 77, 48, 20, 53, 38, 83, 8, 19, 26, 80, 23, 16, 22, 60, 1, 95, 84, 42, 39, 10, 79, 86, 52, 76, 28, 49, 96, 36, 18, 46, 21, 24, 61, 40, 31, 15, 27, 59, 87, 68, 44, 71, 7, 45, 51, 82, 3, 94, 75]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [14]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [28]:
# Your code here
sample_list_2 = []  
for i in range(80):
    sample_list_2.append(int(random.uniform(0,100)))
print(sample_list_2)

[98, 16, 81, 54, 11, 0, 58, 79, 46, 10, 56, 34, 20, 58, 43, 93, 14, 74, 35, 22, 70, 54, 34, 7, 99, 63, 49, 82, 51, 38, 96, 90, 90, 26, 70, 91, 96, 46, 39, 82, 44, 34, 64, 92, 10, 29, 15, 32, 51, 40, 33, 21, 42, 75, 2, 76, 81, 99, 48, 29, 82, 41, 33, 40, 51, 0, 95, 48, 94, 39, 10, 38, 44, 12, 98, 38, 55, 21, 69, 64]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [29]:
# Your code here
set2 = set(sample_list_2)
print(len(sample_list_2))

80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [31]:
# Your code here
set3 = set1 - set2
print(set3)
# Importante dibujarse los conjuntos, para ver los set1 y set2, y la intersección set3

{1, 3, 4, 6, 8, 13, 17, 18, 19, 23, 24, 25, 27, 28, 30, 31, 36, 45, 47, 52, 53, 59, 60, 61, 62, 65, 66, 67, 68, 71, 72, 73, 77, 78, 80, 83, 84, 85, 86, 87, 88}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [32]:
# Your code here
set4 = set2 - set1
print(set4)

{32, 2, 34, 69, 70, 41, 74, 11, 43, 14, 90, 93, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [59]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{0, 7, 10, 12, 15, 16, 20, 21, 22, 26, 29, 33, 35, 38, 39, 40, 42, 44, 46, 48, 49, 51, 54, 55, 56, 58, 64, 75, 76, 79, 81, 82, 91, 92, 94, 95, 96, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [62]:
# Your code here
print(len(set1) == len(set3) + len(set5))
print(len(set2) == len(set4) + len(set5))
print(len(set1) == len(set2) + len(set3) - len(set4))

True
True
True

#### Create an empty set called `set6`.

In [63]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [64]:
# Your code here
set6.update(set3, set5)
print(set6)

{0, 1, 3, 4, 6, 7, 8, 10, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 35, 36, 38, 39, 40, 42, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 91, 92, 94, 95, 96, 98, 99}

#### Check if `set1` and `set6` are equal.

In [65]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [66]:
# Your code here
# issubset: comprobamos si todos los items de set 2 están contenidos en set1
print(set2.issubset(set1))
# issubset: comprobamos si todos los items de set 3 están contenidos en set1
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [68]:
# Your code here
(set3.union(set4).union(set5)) == (set1.union(set2))

True

#### Using the `pop` method, remove the first element from `set1`.

In [70]:
# Your code here
# Pop elimina un elemento del set de forma aleatoria, por lo que no puedo eliminar el primero con este método.

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [74]:
# Your code here
print(set1)
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_to_remove = set(list_to_remove)
new_set1 = set1 - set_to_remove
print(new_set1)
# También lo podría haber hecho pasando set1 a una lista, y quitando los elementos list_to_remove con un for loop.

{0, 1, 3, 4, 6, 7, 8, 10, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 35, 36, 38, 39, 40, 42, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 91, 92, 94, 95, 96, 98, 99}
{0, 3, 4, 6, 7, 8, 10, 12, 13, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 33, 35, 36, 38, 40, 42, 44, 45, 46, 47, 48, 52, 53, 54, 55, 56, 58, 60, 62, 64, 65, 66, 67, 68, 72, 73, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 92, 94, 95, 96, 98}