# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from pprint import pprint
from lxml import html
from lxml.html import fromstring
import urllib.request
from urllib.request import urlopen
import random
import re
import scrapy

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [2]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [3]:
#your code
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html.parser')
# print(soup.prettify())

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [4]:
#your code
data = soup.find_all(class_='f4 text-normal mb-1')
developers = [elem.get_text().replace("\n", "") for elem in data]

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [5]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [6]:
#your code
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html.parser')

In [7]:
repos = soup.find_all(class_='h3 lh-condensed')
repositories = [span.text.replace("\n", "") for span in repos]

#### Display all the image links from Walt Disney wikipedia page

In [8]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [9]:
#your code
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html.parser')

In [10]:
img = soup.findAll('img')
links = [img['src'] for img in img]

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [11]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [12]:
#your code
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html.parser')

In [13]:
links = soup.find_all('a')

#### Number of Titles that have changed in the United States Code since its last release point

In [14]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [15]:
#your code
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html.parser')

In [16]:
# titles
len(soup.find_all(class_='usctitle'))

53

#### A Python list with the top ten FBI's Most Wanted names

In [17]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [18]:
#your code 
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html.parser')

In [19]:
wanted = soup.find_all('h3', class_='title')
[wanted.text.replace("\n", "") for wanted in wanted]

['EUGENE PALMER',
 'SANTIAGO VILLALBA MEDEROS',
 'RAFAEL CARO-QUINTERO',
 'ROBERT WILLIAM FISHER',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ARNOLDO JIMENEZ',
 'ALEJANDRO ROSALES CASTILLO',
 'YASER ABDEL SAID',
 'JASON DEREK BROWN',
 'ALEXIS FLORES']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [20]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [21]:
#your code
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html.parser')

In [22]:
table = soup.find_all('table')[3]
df = pd.read_html(str(table))[0]

In [23]:
df.head()

  CitizenResponse                                  \
    12345678910›» 12345678910›».1 12345678910›».2
0             NaN             NaN             NaN
1             NaN             NaN             NaN
2              24             NaN              IV
3             NaN             NaN             NaN
4             NaN             NaN             NaN

                      Date & Time UTC Latitude degrees                  \
                        12345678910›»    12345678910›» 12345678910›».1
0      2020-01-17 13:07:29.708min ago            33.48               N
1      2020-01-17 13:06:21.509min ago            35.65               N
2      2020-01-17 12:52:17.323min ago            17.99               N
3  2020-01-17 12:14:29.81hr 01min ago            42.52               N
4  2020-01-17 11:55:24.51hr 20min ago            17.93               N

  Longitude degrees                      Depth km       Mag [+]  \
      12345678910›» 12345678910›».1 12345678910›» 12345678910›»
0            116.46               W            10            Ml
1            117.48               W             9            Ml
2             67.03               W            10            ML
3             13.43               E            15            ML
4             66.78               W            10            ML

  Region name [+]      Last update [-] Unnamed: 12_level_0
    12345678910›»        12345678910›»       12345678910›»
0             2.0  SOUTHERN CALIFORNIA    2020-01-17 13:11
1             3.0  SOUTHERN CALIFORNIA    2020-01-17 13:08
2             4.1          PUERTO RICO    2020-01-17 13:12
3             2.2        CENTRAL ITALY    2020-01-17 12:24
4             3.1   PUERTO RICO REGION    2020-01-17 12:03

#### Display the date, days, title, city, country of next 25 hackathon events as a Pandas dataframe table

In [24]:
# This is the url you will scrape in this exercise
url ='https://hackevents.co/hackathons'

In [25]:
#your code
# expired domain

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [26]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [27]:
#your code

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [28]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [29]:
#your code

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [30]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [31]:
#your code
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html.parser')

In [32]:
lang = soup.findAll("strong")
language = [lang.text for lang in lang]
language[1:-1]

['English',
 'æ\x97¥æ\x9c¬èª\x9e',
 'Deutsch',
 'EspaÃ±ol',
 'Ð\xa0Ñ\x83Ñ\x81Ñ\x81ÐºÐ¸Ð¹',
 'FranÃ§ais',
 'Italiano',
 'ä¸\xadæ\x96\x87',
 'PortuguÃªs',
 'Polski']

In [33]:
import unicodedata

art = soup.findAll("small")
articles = [unicodedata.normalize('NFKD', art.text) for art in art]
articles[:-3]
# https://stackoverflow.com/questions/10993612/python-removing-xa0-from-string

['5 994 000+ articles',
 '1 185 000+ è ̈\x98äo\x8b',
 '2 385 000+ Artikel',
 '1 571 000+ artÃ\xadculos',
 '1 590 000+ Ñ\x81Ñ\x82Ð°Ñ\x82ÐμÐ1',
 '2 171 000+ articles',
 '1 576 000+ voci',
 '1 090 000+ æ¢\x9dç\x9b®',
 '1 018 000+ artigos',
 '1 379 000+ haseÅ\x82']

In [34]:
# lang = soup.findAll("option")
# language = [lang.text for lang in lang]

#### A list with the different kind of datasets available in data.gov.uk

In [35]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [36]:
#your code 
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html.parser')

In [37]:
data = soup.find_all('h2')
[data.get_text() for data in data]

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [38]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [39]:
#your code
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html.parser')

In [40]:
table = soup.find_all('table')[2]
df = pd.read_html(str(table))[0]

In [41]:
df[:10]

,Rank,Language,Nativespeakersin millions2007 (2010),Percentageof worldpopulation(2007)
0,1,Mandarin (entire branch),935 (955),14.1%
1,2,Spanish,390 (405),5.85%
2,3,English,365 (360),5.52%
3,4,Hindi[a],295 (310),4.46%
4,5,Arabic,280 (295),4.23%
5,6,Portuguese,205 (215),3.08%
6,7,Bengali,200 (205),3.05%
7,8,Russian,160 (155),2.42%
8,9,Japanese,125 (125),1.92%
9,10,Punjabi,95 (100),1.44%

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [42]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [43]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [44]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [45]:
# your code
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html.parser')

In [46]:
table = soup.find_all('table')
df = pd.read_html(str(table))[0].drop(['Unnamed: 0', 'Unnamed: 4'], axis=1)
df.head()

,Rank & Title,IMDb Rating,Your Rating
0,1. Cadena perpetua (1994),9.2,12345678910 NOT YET RELEASED Seen
1,2. El padrino (1972),9.1,12345678910 NOT YET RELEASED Seen
2,3. El padrino: Parte II (1974),9.0,12345678910 NOT YET RELEASED Seen
3,4. El caballero oscuro (2008),9.0,12345678910 NOT YET RELEASED Seen
4,5. 12 hombres sin piedad (1957),8.9,12345678910 NOT YET RELEASED Seen

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [47]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [48]:
#your code
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html.parser')

In [49]:
table = soup.find_all('table')
df = pd.read_html(str(table))[0].drop(['Unnamed: 0', 'Unnamed: 4'], axis=1)

In [50]:
years = soup.find_all(class_='secondaryInfo')
years = [years.get_text()[1:-1] for years in years]

In [51]:
df['years'] = years

In [52]:
df['name'] = df["Rank & Title"].str.split(".", n = 1, expand = True)[1]
df['name'] = df["name"].str.split("(", n = 1, expand = True)[0]

In [53]:
df.head()

,Rank & Title,IMDb Rating,Your Rating,years,name
0,1. Cadena perpetua (1994),9.2,12345678910 NOT YET RELEASED Seen,1994,Cadena perpetua
1,2. El padrino (1972),9.1,12345678910 NOT YET RELEASED Seen,1972,El padrino
2,3. El padrino: Parte II (1974),9.0,12345678910 NOT YET RELEASED Seen,1974,El padrino: Parte II
3,4. El caballero oscuro (2008),9.0,12345678910 NOT YET RELEASED Seen,2008,El caballero oscuro
4,5. 12 hombres sin piedad (1957),8.9,12345678910 NOT YET RELEASED Seen,1957,12 hombres sin piedad

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [54]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

Enter the city: Madrid

In [55]:
# your code
response = requests.request("GET", url)
response.json()['main']['temp'], response.json()['wind']['speed'], response.json()['weather'][0]['description'], response.json()['weather'][0]['main']

(10.89, 5.7, 'broken clouds', 'Clouds')

In [56]:
from pandas.io.json import json_normalize
import json

response = requests.request("GET", url)
json_normalize(response.json())

,weather,base,visibility,dt,timezone,id,name,cod,coord.lon,coord.lat,...,main.pressure,main.humidity,wind.speed,wind.deg,clouds.all,sys.type,sys.id,sys.country,sys.sunrise,sys.sunset
0,"[{'id': 803, 'main': 'Clouds', 'description': ...",stations,10000,1579266591,3600,3117735,Madrid,200,-3.7,40.42,...,1031,71,5.7,250,75,1,6443,ES,1579246514,1579281222

#### Book name,price and stock availability as a pandas dataframe.

In [57]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [58]:
#your code
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html.parser')

In [59]:
title = soup.find_all('h3')
title = [title.get_text() for title in title]

In [60]:
price = soup.find_all(class_='price_color')
price = [price.get_text()[1:] for price in price]

In [61]:
stock = soup.find_all(class_='instock availability')
stock = [stock.get_text().replace("\n", "") for stock in stock]

In [62]:
data = list(zip(title,price,stock))
pd.DataFrame(data, columns=['title','price', 'stock'])
# https://www.geeksforgeeks.org/create-a-pandas-dataframe-from-lists/

                                    title   price                     stock
0                      A Light in the ...  £51.77              In stock
1                      Tipping the Velvet  £53.74              In stock
2                              Soumission  £50.10              In stock
3                           Sharp Objects  £47.82              In stock
4            Sapiens: A Brief History ...  £54.23              In stock
5                         The Requiem Red  £22.65              In stock
6            The Dirty Little Secrets ...  £33.34              In stock
7                 The Coming Woman: A ...  £17.93              In stock
8                     The Boys in the ...  £22.60              In stock
9                         The Black Maria  £52.15              In stock
10  Starving Hearts (Triangular Trade ...  £13.99              In stock
11                  Shakespeare's Sonnets  £20.66              In stock
12                            Set Me Free  £17.46              In stock
13    Scott Pilgrim's Precious Little ...  £52.29              In stock
14                      Rip it Up and ...  £35.02              In stock
15                  Our Band Could Be ...  £57.25              In stock
16                                   Olio  £23.88              In stock
17        Mesaerion: The Best Science ...  £37.59              In stock
18           Libertarianism for Beginners  £51.33              In stock
19                It's Only the Himalayas  £45.17              In stock