# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset.

In [2]:
# Run this code:

admissions = pd.read_csv('../Admission_Predict.csv')
#to remove trailing spaces at the end of the column names
admissions.columns = admissions.columns.str.rstrip()

Let's evaluate the dataset by looking at the `head` function.

In [3]:
# Your code here:
admissions.head(10)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
5,6,321,109,3,3.0,4.0,8.20,1,0.75
6,7,308,101,2,3.0,4.0,7.90,0,0.68
7,8,302,102,1,2.0,1.5,8.00,0,0.50
8,9,323,108,3,3.5,3.0,8.60,0,0.45
9,10,327,111,4,4.0,4.5,9.00,1,0.84

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [4]:
# Your code here:
admissions.isnull().values.sum()

0

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [5]:
# Your code here:
admissions['Index'] = admissions['Serial No.']
admissions.set_index('Index')
admissions.head(10)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,Index
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1
1,2,316,104,3,3.0,3.5,8.00,1,0.72,2
2,3,322,110,3,3.5,2.5,8.67,1,0.80,3
3,4,314,103,2,2.0,3.0,8.21,0,0.65,4
4,5,330,115,5,4.5,3.0,9.34,1,0.90,5
5,6,321,109,3,3.0,4.0,8.20,1,0.75,6
6,7,308,101,2,3.0,4.0,7.90,0,0.68,7
7,8,302,102,1,2.0,1.5,8.00,0,0.50,8
8,9,323,108,3,3.5,3.0,8.60,0,0.45,9
9,10,327,111,4,4.0,4.5,9.00,1,0.84,10

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [6]:
admissions.shape

(385, 10)

In [7]:
# Your code here:
admissions.shape

print(len(admissions['GRE Score'].unique()))
print(len(admissions['CGPA'].unique()))
#Clearly there are not uniques values at the columns

print(len(admissions['GRE Score'].duplicated()))
print(len(admissions['CGPA'].duplicated()))
#there is not a match between total minus duplicated and unique. why?

49
168
385
385

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [8]:
# Your code here:
admissions.set_index(['GRE Score','CGPA'],inplace=True,drop=True)
admissions.head(10)

,,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,Index
GRE Score,CGPA,,,,,,,,
337,9.65,1,118,4,4.5,4.5,1,0.92,1
316,8.00,2,104,3,3.0,3.5,1,0.72,2
322,8.67,3,110,3,3.5,2.5,1,0.80,3
314,8.21,4,103,2,2.0,3.0,0,0.65,4
330,9.34,5,115,5,4.5,3.0,1,0.90,5
321,8.20,6,109,3,3.0,4.0,1,0.75,6
308,7.90,7,101,2,3.0,4.0,0,0.68,7
302,8.00,8,102,1,2.0,1.5,0,0.50,8
323,8.60,9,108,3,3.5,3.0,0,0.45,9
327,9.00,10,111,4,4.0,4.5,1,0.84,10

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [9]:
admissions.reset_index(inplace=True)
admissions.head(10)

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,Index
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1
1,316,8.00,2,104,3,3.0,3.5,1,0.72,2
2,322,8.67,3,110,3,3.5,2.5,1,0.80,3
3,314,8.21,4,103,2,2.0,3.0,0,0.65,4
4,330,9.34,5,115,5,4.5,3.0,1,0.90,5
5,321,8.20,6,109,3,3.0,4.0,1,0.75,6
6,308,7.90,7,101,2,3.0,4.0,0,0.68,7
7,302,8.00,8,102,1,2.0,1.5,0,0.50,8
8,323,8.60,9,108,3,3.5,3.0,0,0.45,9
9,327,9.00,10,111,4,4.0,4.5,1,0.84,10

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [10]:
# Your code here:
len(admissions[(admissions['CGPA'] > 9) & (admissions['Research'] == 1)])

101

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [11]:
# Your code here:
admissions[(admissions['CGPA'] > 9) & (admissions['SOP'] < 3.5)]

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,Index
28,338,9.40,29,118,4,3.0,4.5,1,0.91,29
62,327,9.02,63,114,3,3.0,3.0,0,0.61,63
140,326,9.11,141,114,3,3.0,3.0,1,0.83,141
217,324,9.01,218,111,4,3.0,3.0,1,0.82,218
381,325,9.11,382,107,3,3.0,3.5,1,0.84,382

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [12]:
admissions = admissions.reindex(columns = np.append(admissions.columns.values, ['CGPA_std', 'GRE_std','LOR_std'])) 
admissions.head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,Index,CGPA_std,GRE_std,LOR_std
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1,NaN,NaN,NaN
1,316,8.00,2,104,3,3.0,3.5,1,0.72,2,NaN,NaN,NaN
2,322,8.67,3,110,3,3.5,2.5,1,0.80,3,NaN,NaN,NaN
3,314,8.21,4,103,2,2.0,3.0,0,0.65,4,NaN,NaN,NaN
4,330,9.34,5,115,5,4.5,3.0,1,0.90,5,NaN,NaN,NaN

In [13]:
def standardize(col):
    # This function takes a column from a dataframe and returns a standardized column by subtracting the column's mean
    # and dividing by the column's standard deviation.
    
    # Your code here:
    new_col = []

    mean = col.mean()
    std = col.std()
    
    for row in col:
        new_col.append((row - mean) / std)
    
    return new_col

In [19]:
# Your code here:

admissions['CGPA_std'] = standardize(admissions['CGPA'])
admissions['GRE_std'] = standardize(admissions['GRE Score'])
admissions['LOR_std'] = standardize(admissions['LOR'])

admissions.head(10)

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,Index,CGPA_std,GRE_std,LOR_std
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1,1.747900,1.753381,1.191647
1,316,8.00,2,104,3,3.0,3.5,1,0.72,2,-0.991211,-0.063367,0.076740
2,322,8.67,3,110,3,3.5,2.5,1,0.80,3,0.121034,0.455704,-1.038166
3,314,8.21,4,103,2,2.0,3.0,0,0.65,4,-0.642597,-0.236391,-0.480713
4,330,9.34,5,115,5,4.5,3.0,1,0.90,5,1.233279,1.147798,-0.480713
5,321,8.20,6,109,3,3.0,4.0,1,0.75,6,-0.659198,0.369192,0.634193
6,308,7.90,7,101,2,3.0,4.0,0,0.68,7,-1.157218,-0.755462,0.634193
7,302,8.00,8,102,1,2.0,1.5,0,0.50,8,-0.991211,-1.274533,-2.153072
8,323,8.60,9,108,3,3.5,3.0,0,0.45,9,0.004829,0.542216,-0.480713
9,327,9.00,10,111,4,4.0,4.5,1,0.84,10,0.668856,0.888263,1.191647

We will generate the decision choice at random using the code below. Please run the cell.

In [20]:
# Run this code:
from random import choices

std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])
print(decision_choice)

['CGPA_std', 'GRE_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'GRE_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'GRE_std', 'LOR_std', 'LOR_std', 'GRE_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'GRE_std', 'CGPA_std', 'CGPA_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'GRE_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'GRE_std', 'CGPA_std', 'LOR_std', 'GRE_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'GRE_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'GRE_std', 'GRE_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'GRE_std', 'CGPA_std', 'GRE_std', 'CGPA_std', 'CGPA_std', 'GRE_std', 'CGPA_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'GRE_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'GRE_std', 'LOR_std', 'LOR_std', 'GRE_std', 'CGPA_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'GRE_std', 'GRE_std', 'GRE_std', 'GRE_std', 'GRE_std', 'CGPA_std', 'GRE_std', 'CGPA_std', 'GRE_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'GRE_std', 'LOR_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'GRE_std', 'LOR_std', 'LOR_std', 'GRE_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'GRE_std', 'GRE_std', 'LOR_std', 'GRE_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'CGPA_std', 'GRE_std', 'CGPA_std', 'GRE_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'GRE_std', 'GRE_std', 'CGPA_std', 'LOR_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'GRE_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'GRE_std', 'LOR_std', 'GRE_std', 'CGPA_std', 'GRE_std', 'LOR_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'GRE_std', 'CGPA_std', 'GRE_std', 'CGPA_std', 'LOR_std', 'GRE_std', 'GRE_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'GRE_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'GRE_std', 'LOR_std', 'GRE_std', 'GRE_std', 'LOR_std', 'LOR_std', 'LOR_std', 'LOR_std', 'CGPA_std', 'GRE_std', 'CGPA_std', 'GRE_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'GRE_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'GRE_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'GRE_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'LOR_std', 'LOR_std', 'GRE_std', 'LOR_std', 'GRE_std', 'GRE_std', 'GRE_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'LOR_std', 'GRE_std', 'GRE_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'GRE_std', 'CGPA_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'LOR_std', 'GRE_std', 'LOR_std', 'GRE_std', 'LOR_std', 'GRE_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'GRE_std', 'LOR_std', 'GRE_std', 'GRE_std', 'LOR_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'GRE_std', 'LOR_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'GRE_std', 'GRE_std', 'GRE_std', 'LOR_std', 'GRE_std', 'LOR_std', 'LOR_std', 'LOR_std', 'GRE_std', 'GRE_std', 'LOR_std', 'GRE_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'GRE_std', 'LOR_std', 'GRE_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'CGPA_std', 'CGPA_std', 'GRE_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'LOR_std', 'GRE_std', 'GRE_std', 'LOR_std', 'GRE_std', 'CGPA_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'GRE_std', 'LOR_std', 'LOR_std', 'LOR_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'GRE_std', 'GRE_std', 'LOR_std', 'LOR_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'LOR_std', 'GRE_std', 'GRE_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'CGPA_std']

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [41]:
# Your code here:

admissions['decision_choice'] = decision_choice

admissions['deciding_column'] = admissions.lookup(admissions.index, admissions['decision_choice'])
admissions.head(10)

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,Index,CGPA_std,GRE_std,LOR_std,deciding_column,decision_choice,deciding_column_num
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1,1.747900,1.753381,1.191647,1.747900,CGPA_std,1.747900
1,316,8.00,2,104,3,3.0,3.5,1,0.72,2,-0.991211,-0.063367,0.076740,-0.063367,GRE_std,-0.063367
2,322,8.67,3,110,3,3.5,2.5,1,0.80,3,0.121034,0.455704,-1.038166,0.121034,CGPA_std,0.121034
3,314,8.21,4,103,2,2.0,3.0,0,0.65,4,-0.642597,-0.236391,-0.480713,-0.480713,LOR_std,-0.480713
4,330,9.34,5,115,5,4.5,3.0,1,0.90,5,1.233279,1.147798,-0.480713,-0.480713,LOR_std,-0.480713
5,321,8.20,6,109,3,3.0,4.0,1,0.75,6,-0.659198,0.369192,0.634193,0.634193,LOR_std,0.634193
6,308,7.90,7,101,2,3.0,4.0,0,0.68,7,-1.157218,-0.755462,0.634193,-1.157218,CGPA_std,-1.157218
7,302,8.00,8,102,1,2.0,1.5,0,0.50,8,-0.991211,-1.274533,-2.153072,-2.153072,LOR_std,-2.153072
8,323,8.60,9,108,3,3.5,3.0,0,0.45,9,0.004829,0.542216,-0.480713,0.004829,CGPA_std,0.004829
9,327,9.00,10,111,4,4.0,4.5,1,0.84,10,0.668856,0.888263,1.191647,0.888263,GRE_std,0.888263

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [42]:
# Your code here:

admissions['decision'] = admissions['deciding_column'].map(lambda x : 'Accepted' if x> 0.8 else 'Rejected')
admissions.head(10)

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,Index,CGPA_std,GRE_std,LOR_std,deciding_column,decision_choice,deciding_column_num,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1,1.747900,1.753381,1.191647,1.747900,CGPA_std,1.747900,Accepted
1,316,8.00,2,104,3,3.0,3.5,1,0.72,2,-0.991211,-0.063367,0.076740,-0.063367,GRE_std,-0.063367,Rejected
2,322,8.67,3,110,3,3.5,2.5,1,0.80,3,0.121034,0.455704,-1.038166,0.121034,CGPA_std,0.121034,Rejected
3,314,8.21,4,103,2,2.0,3.0,0,0.65,4,-0.642597,-0.236391,-0.480713,-0.480713,LOR_std,-0.480713,Rejected
4,330,9.34,5,115,5,4.5,3.0,1,0.90,5,1.233279,1.147798,-0.480713,-0.480713,LOR_std,-0.480713,Rejected
5,321,8.20,6,109,3,3.0,4.0,1,0.75,6,-0.659198,0.369192,0.634193,0.634193,LOR_std,0.634193,Rejected
6,308,7.90,7,101,2,3.0,4.0,0,0.68,7,-1.157218,-0.755462,0.634193,-1.157218,CGPA_std,-1.157218,Rejected
7,302,8.00,8,102,1,2.0,1.5,0,0.50,8,-0.991211,-1.274533,-2.153072,-2.153072,LOR_std,-2.153072,Rejected
8,323,8.60,9,108,3,3.5,3.0,0,0.45,9,0.004829,0.542216,-0.480713,0.004829,CGPA_std,0.004829,Rejected
9,327,9.00,10,111,4,4.0,4.5,1,0.84,10,0.668856,0.888263,1.191647,0.888263,GRE_std,0.888263,Accepted

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [47]:
# Your code here:

admissions[admissions['decision'] == 'Accepted'].count().sum()

1581

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [71]:
# Your code here:
#raw_columns = admissions.columns.apply(lambda x: replace(' ','_').replace('.',''))

raw_columns = admissions.columns
print(raw_columns)
raw_columns = [item.replace(' ','_').replace(r'([^\w])','') for item in raw_columns]
print(raw_columns)

Index(['GRE Score', 'CGPA', 'Serial No.', 'TOEFL Score', 'University Rating',
       'SOP', 'LOR', 'Research', 'Chance of Admit', 'Index', 'CGPA_std',
       'GRE_std', 'LOR_std', 'deciding_column', 'decision_choice',
       'deciding_column_num', 'decision'],
      dtype='object')
['GRE_Score', 'CGPA', 'Serial_No.', 'TOEFL_Score', 'University_Rating', 'SOP', 'LOR', 'Research', 'Chance_of_Admit', 'Index', 'CGPA_std', 'GRE_std', 'LOR_std', 'deciding_column', 'decision_choice', 'deciding_column_num', 'decision']

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [ ]:
# Your code here: