# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset.

In [5]:
# Run this code:
admissions = pd.read_csv('../Admission_Predict.csv')

#to remove trailing spaces at the end of the column names
admissions.columns = admissions.columns.str.rstrip()

Let's evaluate the dataset by looking at the `head` function.

In [6]:
# Your code here:

admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [7]:
# Your code here:

admissions.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance of Admit'],
      dtype='object')

In [15]:
null_data = admissions[admissions.isnull().any(axis =1)]
null_data

Empty DataFrame
Columns: [Serial No., GRE Score, TOEFL Score, University Rating, SOP, LOR, CGPA, Research, Chance of Admit]
Index: []

In [40]:
admissions.isna().sum()

GRE Score            0
CGPA                 0
Serial No.           0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
Research             0
Chance of Admit      0
dtype: int64

In [16]:
admissions.describe()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,385.000000,385.000000,385.000000,385.000000,385.000000,385.000000,385.000000,385.000000,385.000000
mean,193.000000,316.732468,107.387013,3.070130,3.376623,3.431169,8.597091,0.548052,0.723922
std,111.284171,11.559115,6.121456,1.144628,1.007640,0.896936,0.602385,0.498333,0.144027
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,97.000000,308.000000,103.000000,2.000000,2.500000,3.000000,8.160000,0.000000,0.640000
50%,193.000000,317.000000,107.000000,3.000000,3.500000,3.500000,8.620000,1.000000,0.730000
75%,289.000000,325.000000,112.000000,4.000000,4.000000,4.000000,9.070000,1.000000,0.830000
max,385.000000,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

In [17]:
admissions['Serial No.']

0        1
1        2
2        3
3        4
4        5
5        6
6        7
7        8
8        9
9       10
10      11
11      12
12      13
13      14
14      15
15      16
16      17
17      18
18      19
19      20
20      21
21      22
22      23
23      24
24      25
25      26
26      27
27      28
28      29
29      30
      ...
355    356
356    357
357    358
358    359
359    360
360    361
361    362
362    363
363    364
364    365
365    366
366    367
367    368
368    369
369    370
370    371
371    372
372    373
373    374
374    375
375    376
376    377
377    378
378    379
379    380
380    381
381    382
382    383
383    384
384    385
Name: Serial No., Length: 385, dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [18]:
# Your code here:
admissions.index = admissions['Serial No.']

# tambien vale admissions.set_index('Serial No.')

admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90

In [ ]:
admissions.index.values()

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [20]:

# con set index no me sale admissions.set_index('GRE Score')
#admissions.index = admissions['GRE Score']
admissions.set_index('GRE Score')

admissions.head()

#ahora no me vale

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90

In [22]:
#Probamos con el del principio

admissions.index = admissions['GRE Score']
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
GRE Score,,,,,,,,,
337,1,337,118,4,4.5,4.5,9.65,1,0.92
316,2,316,104,3,3.0,3.5,8.00,1,0.72
322,3,322,110,3,3.5,2.5,8.67,1,0.80
314,4,314,103,2,2.0,3.0,8.21,0,0.65
330,5,330,115,5,4.5,3.0,9.34,1,0.90

In [36]:
# Your code here:

admissions.index = admissions['CGPA']

admissions.head()
#(admissions['GRE Score']) & (admissions[

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
CGPA,,,,,,,,,
9.65,1,337,118,4,4.5,4.5,9.65,1,0.92
8.00,2,316,104,3,3.0,3.5,8.00,1,0.72
8.67,3,322,110,3,3.5,2.5,8.67,1,0.80
8.21,4,314,103,2,2.0,3.0,8.21,0,0.65
9.34,5,330,115,5,4.5,3.0,9.34,1,0.90

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [38]:
#admissions.index =  (admissions['GRE Score']& admissions['CGPA'])
admissions.set_index(['GRE Score', 'CGPA'], inplace=True)
admissions.head(5)

,,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,,
337,9.65,1,118,4,4.5,4.5,1,0.92
316,8.00,2,104,3,3.0,3.5,1,0.72
322,8.67,3,110,3,3.5,2.5,1,0.80
314,8.21,4,103,2,2.0,3.0,0,0.65
330,9.34,5,115,5,4.5,3.0,1,0.90

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [69]:
# Your code here:

admissions.reset_index(inplace=True)

admissions.head()

,index,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,0,337,9.65,1,118,4,4.5,4.5,1,0.92
1,1,316,8.00,2,104,3,3.0,3.5,1,0.72
2,2,322,8.67,3,110,3,3.5,2.5,1,0.80
3,3,314,8.21,4,103,2,2.0,3.0,0,0.65
4,4,330,9.34,5,115,5,4.5,3.0,1,0.90

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [116]:
 #admissions[admissions.eval('CGPA  >=9')]

#group = admissions[(admissions['GRE Score']==1) & (admissions['CGPA']  >9)]
score =admissions[admissions.eval('CGPA  >=9')]
score

In [118]:
research = admissions.eval('Research =1')
research

,index,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,0,337,9.65,1,118,4,4.5,4.5,1,0.92
1,1,316,8.00,2,104,3,3.0,3.5,1,0.72
2,2,322,8.67,3,110,3,3.5,2.5,1,0.80
3,3,314,8.21,4,103,2,2.0,3.0,1,0.65
4,4,330,9.34,5,115,5,4.5,3.0,1,0.90
5,5,321,8.20,6,109,3,3.0,4.0,1,0.75
6,6,308,7.90,7,101,2,3.0,4.0,1,0.68
7,7,302,8.00,8,102,1,2.0,1.5,1,0.50
8,8,323,8.60,9,108,3,3.5,3.0,1,0.45
9,9,327,9.00,10,111,4,4.0,4.5,1,0.84
10,10,328,9.10,11,112,4,4.0,4.5,1,0.78
11,11,307,8.00,12,109,3,4.0,3.0,1,0.62
12,12,311,8.20,13,104,3,3.5,2.0,1,0.61
13,13,314,8.30,14,105,3,3.5,2.5,1,0.54
14,14,317,8.70,15,107,3,4.0,3.0,1,0.66
15,15,319,8.00,16,106,3,4.0,3.0,1,0.65
16,16,318,8.80,17,110,3,4.0,3.0,1,0.63
17,17,303,8.50,18,102,3,3.5,3.0,1,0.62
18,18,325,8.40,19,114,4,3.0,2.0,1,0.70
19,19,328,9.50,20,116,5,5.0,5.0,1,0.94
20,20,334,9.70,21,119,5,5.0,4.5,1,0.95
21,21,336,9.80,22,119,5,4.0,3.5,1,0.97
22,22,322,8.80,23,109,5,4.5,3.5,1,0.76
23,23,298,7.50,24,98,2,1.5,2.5,1,0.44
24,24,295,7.20,25,93,1,2.0,2.0,1,0.46
25,25,310,7.30,26,99,2,1.5,2.0,1,0.54
26,26,300,8.10,27,97,2,3.0,3.0,1,0.65
27,27,327,8.30,28,103,3,4.0,4.0,1,0.74
28,28,338,9.40,29,118,4,3.0,4.5,1,0.91
29,29,340,9.60,30,114,5,4.0,4.0,1,0.90
...,...,...,...,...,...,...,...,...,...,...
355,355,310,8.24,356,103,2,2.5,2.5,1,0.72
356,356,324,9.22,357,110,3,3.5,3.0,1,0.89
357,357,336,9.62,358,119,4,4.5,4.0,1,0.95
358,358,321,8.54,359,109,3,3.0,3.0,1,0.79
359,359,315,7.65,360,105,2,2.0,2.5,1,0.39
360,360,304,7.66,361,101,2,2.0,2.5,1,0.38
361,361,297,7.43,362,96,2,2.5,2.0,1,0.34
362,362,290,7.56,363,100,1,1.5,2.0,1,0.47
363,363,303,7.65,364,98,1,2.0,2.5,1,0.56
364,364,311,8.43,365,99,1,2.5,3.0,1,0.71
365,365,322,8.84,366,104,3,3.5,4.0,1,0.78
366,366,319,8.67,367,105,3,3.0,3.5,1,0.73
367,367,324,9.15,368,110,4,4.5,4.0,1,0.82
368,368,300,8.26,369,100,3,3.0,3.5,1,0.62
369,369,340,9.74,370,113,4,5.0,5.0,1,0.96
370,370,335,9.82,371,117,5,5.0,5.0,1,0.96
371,371,302,7.96,372,101,2,2.5,3.5,1,0.46
372,372,307,8.10,373,105,2,2.0,3.5,1,0.53
373,373,296,7.80,374,97,2,1.5,2.0,1,0.49
374,374,320,8.44,375,108,3,3.5,4.0,1,0.76
375,375,314,8.24,376,102,2,2.0,2.5,1,0.64
376,376,318,8.65,377,106,3,2.0,3.0,1,0.71
377,377,326,9.12,378,112,4,4.0,3.5,1,0.84
378,378,317,8.76,379,104,2,3.0,3.0,1,0.77
379,379,329,9.23,380,111,4,4.5,4.0,1,0.89
380,380,324,9.04,381,110,3,3.5,3.5,1,0.82
381,381,325,9.11,382,107,3,3.0,3.5,1,0.84
382,382,330,9.45,383,116,4,5.0,4.5,1,0.91
383,383,312,8.78,384,103,3,3.5,4.0,1,0.67
384,384,333,9.66,385,117,4,5.0,4.0,1,0.95

In [121]:
admissions[score & research]

TypeError: unsupported operand type(s) for &: 'float' and 'int'

In [122]:
# esto no sale: admissions.eval('Research =1','CGPA  >=9') // uno por uno si

In [91]:
admissions.eval('Research =1')

,index,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,0,337,9.65,1,118,4,4.5,4.5,1,0.92
1,1,316,8.00,2,104,3,3.0,3.5,1,0.72
2,2,322,8.67,3,110,3,3.5,2.5,1,0.80
3,3,314,8.21,4,103,2,2.0,3.0,1,0.65
4,4,330,9.34,5,115,5,4.5,3.0,1,0.90
5,5,321,8.20,6,109,3,3.0,4.0,1,0.75
6,6,308,7.90,7,101,2,3.0,4.0,1,0.68
7,7,302,8.00,8,102,1,2.0,1.5,1,0.50
8,8,323,8.60,9,108,3,3.5,3.0,1,0.45
9,9,327,9.00,10,111,4,4.0,4.5,1,0.84
10,10,328,9.10,11,112,4,4.0,4.5,1,0.78
11,11,307,8.00,12,109,3,4.0,3.0,1,0.62
12,12,311,8.20,13,104,3,3.5,2.0,1,0.61
13,13,314,8.30,14,105,3,3.5,2.5,1,0.54
14,14,317,8.70,15,107,3,4.0,3.0,1,0.66
15,15,319,8.00,16,106,3,4.0,3.0,1,0.65
16,16,318,8.80,17,110,3,4.0,3.0,1,0.63
17,17,303,8.50,18,102,3,3.5,3.0,1,0.62
18,18,325,8.40,19,114,4,3.0,2.0,1,0.70
19,19,328,9.50,20,116,5,5.0,5.0,1,0.94
20,20,334,9.70,21,119,5,5.0,4.5,1,0.95
21,21,336,9.80,22,119,5,4.0,3.5,1,0.97
22,22,322,8.80,23,109,5,4.5,3.5,1,0.76
23,23,298,7.50,24,98,2,1.5,2.5,1,0.44
24,24,295,7.20,25,93,1,2.0,2.0,1,0.46
25,25,310,7.30,26,99,2,1.5,2.0,1,0.54
26,26,300,8.10,27,97,2,3.0,3.0,1,0.65
27,27,327,8.30,28,103,3,4.0,4.0,1,0.74
28,28,338,9.40,29,118,4,3.0,4.5,1,0.91
29,29,340,9.60,30,114,5,4.0,4.0,1,0.90
...,...,...,...,...,...,...,...,...,...,...
355,355,310,8.24,356,103,2,2.5,2.5,1,0.72
356,356,324,9.22,357,110,3,3.5,3.0,1,0.89
357,357,336,9.62,358,119,4,4.5,4.0,1,0.95
358,358,321,8.54,359,109,3,3.0,3.0,1,0.79
359,359,315,7.65,360,105,2,2.0,2.5,1,0.39
360,360,304,7.66,361,101,2,2.0,2.5,1,0.38
361,361,297,7.43,362,96,2,2.5,2.0,1,0.34
362,362,290,7.56,363,100,1,1.5,2.0,1,0.47
363,363,303,7.65,364,98,1,2.0,2.5,1,0.56
364,364,311,8.43,365,99,1,2.5,3.0,1,0.71
365,365,322,8.84,366,104,3,3.5,4.0,1,0.78
366,366,319,8.67,367,105,3,3.0,3.5,1,0.73
367,367,324,9.15,368,110,4,4.5,4.0,1,0.82
368,368,300,8.26,369,100,3,3.0,3.5,1,0.62
369,369,340,9.74,370,113,4,5.0,5.0,1,0.96
370,370,335,9.82,371,117,5,5.0,5.0,1,0.96
371,371,302,7.96,372,101,2,2.5,3.5,1,0.46
372,372,307,8.10,373,105,2,2.0,3.5,1,0.53
373,373,296,7.80,374,97,2,1.5,2.0,1,0.49
374,374,320,8.44,375,108,3,3.5,4.0,1,0.76
375,375,314,8.24,376,102,2,2.0,2.5,1,0.64
376,376,318,8.65,377,106,3,2.0,3.0,1,0.71
377,377,326,9.12,378,112,4,4.0,3.5,1,0.84
378,378,317,8.76,379,104,2,3.0,3.0,1,0.77
379,379,329,9.23,380,111,4,4.5,4.0,1,0.89
380,380,324,9.04,381,110,3,3.5,3.5,1,0.82
381,381,325,9.11,382,107,3,3.0,3.5,1,0.84
382,382,330,9.45,383,116,4,5.0,4.5,1,0.91
383,383,312,8.78,384,103,3,3.5,4.0,1,0.67
384,384,333,9.66,385,117,4,5.0,4.0,1,0.95

In [89]:
# Your code here:

#admissions[admissions.eval('CGPA  >=9')]
#group= admissions.groupby([admissions.eval('CGPA  >=9)], [admissions.('Research =1')]) 
#+ admissions[admissions.eval('Research =1')]
group= admissions[admissions.query('CGPA  >=9', Research =1')]
    #, 'admissions['Research']=[1]')

#admissions.eval('Research =1')

SyntaxError: EOL while scanning string literal (<ipython-input-89-cfeee45ce3e7>, line 6)

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [ ]:
# Your code here:

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [ ]:
def standardize(col):
    # This function takes a column from a dataframe and returns a standardized column by subtracting the column's mean
    # and dividing by the column's standard deviation.
    
    # Your code here:

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [ ]:
# Your code here:

We will generate the decision choice at random using the code below. Please run the cell.

In [123]:
# Run this code:

from random import choices
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [ ]:
# Your code here:

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [ ]:
# Your code here:

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [ ]:
# Your code here:

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [ ]:
# Your code here:

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [ ]:
# Your code here: