In [1]:
import requests
import pandas as pd
import json
from pandas.io.json import json_normalize 

#ciudad = [Madrid , Barcelona, Valladolid, Sevilla]
ciudad = 'Madrid'
url = 'http://api.openweathermap.org/data/2.5/weather?q=' + ciudad + '&APPID=30c0b644a0a2950cbb356c1cb2747f01'

In [2]:
response = requests.get(url)
results = response.json()
#weather_keys = results.keys()

In [8]:
normalized_data = json_normalize(results)
df = normalized_data

,base,clouds.all,cod,coord.lat,coord.lon,dt,id,main.humidity,main.pressure,main.temp,...,sys.id,sys.message,sys.sunrise,sys.sunset,sys.type,timezone,visibility,weather,wind.deg,wind.speed
0,stations,0,200,40.42,-3.7,1561482591,3117735,17,1015,307,...,6443,0.0125,1561437939,1561492134,1,7200,10000,"[{'id': 800, 'main': 'Clear', 'description': '...",190,5.1