# Ecological footprint

In [4]:
import pandas as pd
import matplotlib

df = pd.read_csv('spain_all_data.csv')
df.head()

,Unnamed: 0,builtupLand,carbon,countryCode,countryName,cropLand,fishingGround,forestLand,grazingLand,id,isoa2,record,score,shortName,value,version,year
0,0,0.018509,0.0,203,Spain,0.741322,0.242950,0.364454,0.378919,86725,ES,AreaPerCap,3A,Spain,1.746155,NaN,1961
1,1,0.018509,0.0,203,Spain,0.736760,0.240241,0.363184,0.372112,86737,ES,AreaPerCap,3A,Spain,1.730807,NaN,1962
2,2,0.018509,0.0,203,Spain,0.728842,0.237503,0.364569,0.364997,86749,ES,AreaPerCap,3A,Spain,1.714420,NaN,1963
3,3,0.018509,0.0,203,Spain,0.710976,0.234814,0.363172,0.357582,86761,ES,AreaPerCap,3A,Spain,1.685053,NaN,1964
4,4,0.018509,0.0,203,Spain,0.704489,0.232224,0.361867,0.351136,86773,ES,AreaPerCap,3A,Spain,1.668225,NaN,1965

In [10]:
df.count()

Unnamed: 0       869
builtupLand      728
carbon           728
countryCode      869
countryName      869
cropLand         728
fishingGround    728
forestLand       728
grazingLand      728
id               869
isoa2            869
record           869
score            728
shortName        869
value            869
version            0
year             869
dtype: int64

In [11]:
df.isnull().sum()

Unnamed: 0         0
builtupLand      141
carbon           141
countryCode        0
countryName        0
cropLand         141
fishingGround    141
forestLand       141
grazingLand      141
id                 0
isoa2              0
record             0
score            141
shortName          0
value              0
version          869
year               0
dtype: int64

Hacemos una copia del dataframe correspondiente a los valores recopilados para España

In [12]:
spain2 = df.copy()

Eliminamos la columna 'version'

In [23]:
spain2.drop(['version', 'Unnamed: 0'], axis=1, inplace=True)

KeyError: "['version'] not found in axis"

Eliminamos los índices nulos

In [19]:
spain2 = spain2.drop(spain2[(spain2['builtupLand'].isnull()) |
                      (spain2['carbon'].isnull()) | 
                      (spain2['cropLand'].isnull()) | 
                      (spain2['fishingGround'].isnull())|
                      (spain2['forestLand'].isnull())| 
                      (spain2['grazingLand'].isnull())|
                      (spain2['score'].isnull())].index)

In [20]:
spain2.count()

Unnamed: 0       728
builtupLand      728
carbon           728
countryCode      728
countryName      728
cropLand         728
fishingGround    728
forestLand       728
grazingLand      728
id               728
isoa2            728
record           728
score            728
shortName        728
value            728
year             728
dtype: int64

In [21]:
spain2.head()

,Unnamed: 0,builtupLand,carbon,countryCode,countryName,cropLand,fishingGround,forestLand,grazingLand,id,isoa2,record,score,shortName,value,year
0,0,0.018509,0.0,203,Spain,0.741322,0.242950,0.364454,0.378919,86725,ES,AreaPerCap,3A,Spain,1.746155,1961
1,1,0.018509,0.0,203,Spain,0.736760,0.240241,0.363184,0.372112,86737,ES,AreaPerCap,3A,Spain,1.730807,1962
2,2,0.018509,0.0,203,Spain,0.728842,0.237503,0.364569,0.364997,86749,ES,AreaPerCap,3A,Spain,1.714420,1963
3,3,0.018509,0.0,203,Spain,0.710976,0.234814,0.363172,0.357582,86761,ES,AreaPerCap,3A,Spain,1.685053,1964
4,4,0.018509,0.0,203,Spain,0.704489,0.232224,0.361867,0.351136,86773,ES,AreaPerCap,3A,Spain,1.668225,1965