# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [2]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [3]:
# enter your code here
orders = pd.read_csv("../../lab-subsetting-and-descriptive-stats/your-code/Orders.zip")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [23]:
# your code here
#How to agregate the amount_spent for unique customers

orders['sum_amount']= orders.groupby(by='CustomerID').agg({'amount_spent':['sum']})

In [6]:
#How to select customers whose aggregated amount_spent is in a given quantile range?

orders['sum_amount'].quantile(0.25)

307.24499999999995

In [7]:
orders['sum_amount'].quantile(0.75)

1661.6400000000003

In [24]:
orders[(orders['sum_amount'] > 307.24) & (orders['sum_amount'] < 1661.64)][0:10]

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,sum_amount
12350,19178,537844,21935,2010,12,3,15,suki shoulder bag,1,2010-12-08 15:17:00,1.65,17999,United Kingdom,1.65,334.40
12354,19182,537844,62018,2010,12,3,15,sombrero,1,2010-12-08 15:17:00,1.95,17999,United Kingdom,1.95,1079.40
12355,19183,537844,22795,2010,12,3,15,sweetheart recipe book stand,1,2010-12-08 15:17:00,6.75,17999,United Kingdom,6.75,459.40
12358,19186,537844,22111,2010,12,3,15,scottie dog hot water bottle,1,2010-12-08 15:17:00,4.95,17999,United Kingdom,4.95,1168.06
12363,19191,537844,21111,2010,12,3,15,"swiss roll towel, chocolate spots",1,2010-12-08 15:17:00,2.95,17999,United Kingdom,2.95,552.00
12364,19192,537844,85230B,2010,12,3,15,cinnamon scented votive candle,24,2010-12-08 15:17:00,0.29,17999,United Kingdom,6.96,1313.10
12365,19193,537844,85174,2010,12,3,15,s/4 cacti candles,1,2010-12-08 15:17:00,4.95,17999,United Kingdom,4.95,641.38
12372,19200,537844,20695,2010,12,3,15,floral blue monster,1,2010-12-08 15:17:00,4.25,17999,United Kingdom,4.25,1298.04
12373,19201,537844,84508A,2010,12,3,15,camouflage design teddy,1,2010-12-08 15:17:00,2.55,17999,United Kingdom,2.55,364.60
12374,19202,537844,48173C,2010,12,3,15,doormat black flock,1,2010-12-08 15:17:00,7.95,17999,United Kingdom,7.95,742.93

In [36]:
#How to label selected customers as "VIP" or "Preferred"?

#Voy a coger los clientes que se han gastado más dinero que el último rango intercuartil

vip_customers = orders[(orders['sum_amount'] > 1661.64)]

vip_customers['CustomerID'].value_counts()

12748    33
17340    26
12433    24
14505    20
14544    20
17827    18
17338    17
15998    16
17999    15
12471    14
15555    14
15503    14
17231    13
14684    13
15044    13
17841    13
17530    13
14667    13
16873    12
17890    12
14911    12
16795    12
16065    11
16727    11
14159    11
17097    11
17950    10
16520    10
14565    10
16011    10
         ..
14107     1
16519     1
16499     1
16163     1
18225     1
14437     1
14180     1
14355     1
14031     1
17937     1
17293     1
15881     1
12712     1
13225     1
17243     1
15361     1
17428     1
13102     1
13408     1
17526     1
15192     1
17576     1
17675     1
17696     1
15713     1
16927     1
17857     1
13767     1
13787     1
16367     1
Name: CustomerID, Length: 206, dtype: int64

In [29]:
#Para los Preferred voy a coger los que se han gastado entre el tercer rango intercuartil y el cuarto
orders['sum_amount'].quantile(0.5)

674.4499999999998

In [39]:
preferred_customers = orders[(orders['sum_amount'] > 674.44) & (orders['sum_amount'] < 1661.64)]

preferred_customers['CustomerID'].value_counts()

12748    41
14667    20
17827    19
15998    19
12433    19
14505    19
17340    19
14911    18
16795    16
15044    15
16520    14
16065    14
15503    14
17126    13
12753    13
16923    13
17251    12
16873    12
15723    12
15514    11
15555    11
14159    11
17530    11
16011    10
15547    10
14577    10
17865    10
14544    10
16727    10
16367    10
         ..
15660     2
12476     1
17339     1
15513     1
18065     1
17576     1
14243     1
16499     1
16519     1
15347     1
15361     1
18178     1
13225     1
18037     1
14952     1
14987     1
17696     1
17690     1
16062     1
14107     1
15079     1
13090     1
13758     1
17655     1
13767     1
16701     1
17243     1
18102     1
16210     1
12875     1
Name: CustomerID, Length: 202, dtype: int64

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [38]:
# your code here

#How to identify which country has the most VIP Customers?

vip_customers['Country'].value_counts()

United Kingdom     971
Norway              24
Germany             22
France              19
Spain               15
EIRE                12
Denmark              8
Portugal             6
Japan                6
Channel Islands      2
Name: Country, dtype: int64

In [43]:
#How to identify which country has the most VIP+Preferred Customers combined?

vip_preferrer = orders[(orders['sum_amount'] > 674.44)]

vip_preferrer['Country'].value_counts()

United Kingdom     1948
Norway               43
Germany              40
France               35
EIRE                 30
Spain                24
Japan                19
Portugal             14
Denmark              11
Channel Islands       6
Name: Country, dtype: int64