# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [2]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [4]:
# enter your code here
orders = pd.read_csv("../../lab-subsetting-and-descriptive-stats/your-code/Orders.zip")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [8]:
# your code here
#How to agregate the amount_spent for unique customers

orders['sum_amount']= orders.groupby(by='CustomerID').agg({'amount_spent':['sum']})

orders[orders['sum_amount'] > 50][0:10]

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,sum_amount
12346,19174,537843,22776,2010,12,3,15,sweetheart cakestand 3 tier,2,2010-12-08 15:16:00,9.95,15713,United Kingdom,19.90,77183.60
12347,19175,537844,22112,2010,12,3,15,chocolate hot water bottle,1,2010-12-08 15:17:00,4.95,17999,United Kingdom,4.95,4310.00
12348,19176,537844,21587,2010,12,3,15,cosy hour giant tube matches,1,2010-12-08 15:17:00,2.55,17999,United Kingdom,2.55,1797.24
12349,19177,537844,22502,2010,12,3,15,picnic basket wicker small,1,2010-12-08 15:17:00,5.95,17999,United Kingdom,5.95,1757.55
12350,19178,537844,21935,2010,12,3,15,suki shoulder bag,1,2010-12-08 15:17:00,1.65,17999,United Kingdom,1.65,334.40
12352,19180,537844,21110,2010,12,3,15,large cake towel pink spots,1,2010-12-08 15:17:00,6.75,17999,United Kingdom,6.75,2506.04
12353,19181,537844,22098,2010,12,3,15,boudoir square tissue box,1,2010-12-08 15:17:00,1.25,17999,United Kingdom,1.25,89.00
12354,19182,537844,62018,2010,12,3,15,sombrero,1,2010-12-08 15:17:00,1.95,17999,United Kingdom,1.95,1079.40
12355,19183,537844,22795,2010,12,3,15,sweetheart recipe book stand,1,2010-12-08 15:17:00,6.75,17999,United Kingdom,6.75,459.40
12356,19184,537844,72799E,2010,12,3,15,ivory pillar candle silver flock,2,2010-12-08 15:17:00,2.95,17999,United Kingdom,5.90,2811.43

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [ ]:
# your code here