# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [3]:
# enter your code here
orders = pd.read_csv("../../lab-subsetting-and-descriptive-stats/your-code/Orders.zip")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [8]:
# your code here

# Sub Problem 1: How to aggregate the  amount_spent for unique customers?
amount_spent_bycustomer = orders.groupby(['CustomerID'])['amount_spent'].agg('sum')
amount_spent_bycustomer.head(10)

CustomerID
12346    77183.60
12347     4310.00
12348     1797.24
12349     1757.55
12350      334.40
12352     2506.04
12353       89.00
12354     1079.40
12355      459.40
12356     2811.43
Name: amount_spent, dtype: float64

In [53]:
amount_spent_bycustomer.describe()

count      4339.000000
mean       2053.793018
std        8988.248381
min           0.000000
25%         307.245000
50%         674.450000
75%        1661.640000
max      280206.020000
Name: amount_spent, dtype: float64

In [14]:
# Sub Problem 2: How to select customers whose aggregated amount_spent is in a given quantile range?
def amount_quant_calc(quant):
    return orders.groupby(['CustomerID'])['amount_spent'].agg('sum').quantile(q=quant)

# A continuación podemos definir el quantile range:
min_quant = 0.75 # La función amount_quant_calc da 1661.6400000000003
max_quant = 0.95 # La función amount_quant_calc da 5840.181999999983

# Filtramos por el rango de valores que se obtienen al aplicar la función:
amount_spent_bycustomer[(amount_spent_bycustomer > amount_quant_calc(min_quant)) &
                        (amount_spent_bycustomer < amount_quant_calc(max_quant))].head(10)

CustomerID
12347    4310.00
12348    1797.24
12349    1757.55
12352    2506.04
12356    2811.43
12360    2662.06
12362    5226.23
12370    3545.69
12371    1887.96
12378    4008.62
Name: amount_spent, dtype: float64

In [17]:
# Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

# VIP CUSTOMERS
min_quant = 0.95
max_quant = 1

vip_customers = amount_spent_bycustomer[(amount_spent_bycustomer > amount_quant_calc(min_quant)) &
                        (amount_spent_bycustomer < amount_quant_calc(max_quant))]

vip_customers.head()

CustomerID
12346     77183.60
12357      6207.67
12359      6372.58
12409     11072.67
12415    124914.53
Name: amount_spent, dtype: float64

In [18]:
# PREFERRED CUSTOMERS
min_quant = 0.75
max_quant = 0.95

pref_customers = amount_spent_bycustomer[(amount_spent_bycustomer > amount_quant_calc(min_quant)) &
                        (amount_spent_bycustomer < amount_quant_calc(max_quant))]

pref_customers.head()

CustomerID
12347    4310.00
12348    1797.24
12349    1757.55
12352    2506.04
12356    2811.43
Name: amount_spent, dtype: float64

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [22]:
# your code here

# Q2: How to identify which country has the most VIP Customers?
orders.iloc[vip_customers.index]['Country'].value_counts()

United Kingdom    190
France              6
Germany             6
Norway              6
EIRE                3
Portugal            2
Spain               2
Japan               1
Name: Country, dtype: int64

El país con más **VIP Customers** es **United Kingdom**.

In [48]:
# Q3: How to identify which country has the most VIP+Preferred Customers combined?
vip_and_pref = pd.concat([vip_customers, pref_customers])
vip_and_pref.sort_index(inplace=True)
vip_and_pref.head()

CustomerID
12346    77183.60
12347     4310.00
12348     1797.24
12349     1757.55
12352     2506.04
Name: amount_spent, dtype: float64

In [49]:
orders.iloc[vip_and_pref.index]['Country'].value_counts()

United Kingdom     970
Norway              24
Germany             22
France              19
Spain               15
EIRE                12
Denmark              8
Portugal             6
Japan                6
Channel Islands      2
Name: Country, dtype: int64

El país con más **VIP Customers y Preferred Customers** siguen siendo **United Kingdom**.